{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="far fa-file-image"></i> Media{% endblock %}
{% block main %}
    <style>
        .to-show {
            display: none;
        }
        .to-hover:hover > .to-show {
            display: block;
        }
    </style>

    <div class="row mb-4">
        <div class="col-12">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#uploadModal">
                <i class="fas fa-plus"></i> Upload</a>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="border overflow-auto h-100 w-100">
            <div class="row m-2">
                {% if images is empty %}
                    <p class="text-muted text-center w-100">Keine Bilder hochgeladen.</p>
                {% else %}
                    {% for i in images %}
                        <div class="card d-block mr-2 mb-2 to-hover" style="width: 250px">
                            <img class="card-img-top border-bottom p-1" style="width: 100%; height: 200px; object-fit: contain;" src="{{ vich_uploader_asset(i, 'imageFile') }}"  alt="{{ i.image.name }}">
                            <div class="card-img-overlay text-right w-100 to-show">
                                <a href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-html="true" data-content="Wirklich löschen? <a href='{{ path('admin_media_delete', {'id' : i.id}) }}'>Ja</a>"><i class="fas fa-trash-alt"></i></a>
                                <a class="ml-1" href="{{ path('media', {'name' : i.id} ) }}"><i class="fas fa-eye"></i></a>
                            </div>
                            <div class="card-body p-2 text-muted text-truncate text-center">
                                <span title="{{ i.image.name }}">{{ i.name }}</span>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'admin/image/_new.html.twig' with {'modal_name': 'uploadModal'} %}

    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>

{% endblock %}