{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="far fa-newspaper"></i> News{% endblock %}
{% block main %}
    <h2>Images</h2>
    <div class="border overflow-auto" style="height: 10cm">
        <div class="row m-2">
        {% for i in images %}
            <div class="card d-block mr-2 mb-2" style="width: 250px">
                <img class="card-img-top border-bottom p-1" style="width: 100%; height: 200px; object-fit: contain;" src="{{ vich_uploader_asset(i, 'imageFile') }}"  alt="{{ i.image.name }}">
                <div class="card-body">
                    <p class="card-text">{{ i.image.name }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <br/>

    <h2>New Image</h2>
    {{ form_start(form_upload) }}
    {% if not form_upload.vars.valid %}
        <div class="alert alert-error">
            {{ form_errors(form_upload) }}
        </div>
    {% endif %}
    {{ form_row(form_upload) }}
    <button type="submit" id="upload" class="btn-primary btn">Upload</button>

    {{ form_end(form_upload) }}
{% endblock %}