{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="far fa-file-image"></i> Media{% endblock %}
{% block main %}
    <div class="row mb-4">
        <div class="col-12">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#uploadModal">
                <i class="fas fa-plus"></i> Upload</a>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="border overflow-auto h-100 w-100">
            <div class="row m-2">
                {% if images is empty %}
                    <p class="text-muted text-center w-100">Keine Bilder hochgeladen.</p>
                {% else %}
                    {% for i in images %}
                        <div class="card d-block mr-2 mb-2" style="width: 250px">
                            <img class="card-img-top border-bottom p-1" style="width: 100%; height: 200px; object-fit: contain;" src="{{ vich_uploader_asset(i, 'imageFile') }}"  alt="{{ i.image.name }}">
                            <div class="card-body p-2 text-muted text-truncate text-center">
                                <span title="{{ i.image.name }}">{{ i.name }}</span>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(form_upload) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload</h5>
                </div>
                <div class="modal-body">
                    {% if not form_upload.vars.valid %}
                        <div class="alert alert-error">
                            {{ form_errors(form_upload) }}
                        </div>
                    {% endif %}
                    {{ form_row(form_upload) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-secondary btn" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" id="upload" class="btn-primary btn">Upload</button>
                </div>
                {{ form_end(form_upload) }}
            </div>
        </div>
    </div>
{% endblock %}