{% extends 'admin/adminBase.html.twig' %}

{% block title %}User {{ form.vars.value.nickname }} bearbeiten - KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-user"></i> User{% endblock %}
{% block main %}
    <h1 class="h3 card-title mb-4">User {{ form.vars.value.nickname }} bearbeiten</h1>
    {{ form_start(form) }}

    {% set data = form.vars.data %}
    {% set image = vich_uploader_asset(form.image.vars.data, "imageFile") %}

    <div class="row">
        <div class="col-md-8 order-md-1 mb-4">
            {% embed "site/components/cards/skeletons/cardProfile.html.twig"  with {'cardImg': image, 'cardSymbol': 'fas fas fa-user-circle fa-9x'} %}
                {% block cardBody %}
                    <h2 class="h4 pt-3">Persönliche Informationen</h2>
                    <hr>
                    {{ form_row(form.nickname, {'input_group_prepend' : '<i class="fas fa-headset fa-fw"></i>'}) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.firstname, {'input_group_prepend' : '<i class="fas fa-signature fa-fw"></i>'}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.surname, {'input_group_prepend' : '<i class="fas fa-signature fa-fw"></i>'}) }}
                        </div>
                    </div>
                    {{ form_row(form.birthdate, {'input_group_prepend' : '<i class="fas fa-birthday-cake fa-fw"></i>'}) }}
                    {{ form_row(form.email, {'input_group_prepend' : '<i class="far fa-envelope fa-fw"></i>'}) }}
                    {% if data.emailConfirmed %}
                        <p><i class="fas fa-check"></i> Email Confirmed</p>
                    {% endif %}
                    {{ form_row(form.gender, {'input_group_prepend' : '<i class="fas fa-venus-mars fa-fw"></i>'}) }}
                    {{ form_row(form.personalDataConfirmed) }}
                    {{ form_row(form.infoMails) }}
                {% endblock %}
            {% endembed  %}
        </div>
        <div class="col-md-4 order-md-2 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    {% include "admin/components/properties.html.twig"
                    with {'fields' : {
                        'id' : 'KLMS ID',
                        'uuid' : 'UUID',
                        'registeredAt' : "Registriert",
                        'modifiedAt' : 'zuletzt geändert'
                    }}
                    %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="h4 pt-3">Adresse</h2>
                    <hr> 
                    {{ form_row(form.street, {'input_group_prepend' : '<i class="fas fa-road fa-fw"></i>'}) }}
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.postcode, {'input_group_prepend' : '<i class="fas fa-map-marked-alt fa-fw"></i>'}) }}
                        </div>
                        <div class="col-md-8">
                            {{ form_row(form.city, {'input_group_prepend' : '<i class="fas fa-city fa-fw"></i>'}) }}
                        </div>
                    </div>
                    {{ form_row(form.country, {'input_group_prepend' : '<i class="fas fa-globe-europe fa-fw"></i>'}) }}
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="h4 pt-3">Allgemeines</h2>
                    <hr>
                    {{ form_row(form.phone, {'input_group_prepend' : '<i class="fas fa-mobile-alt fa-fw"></i>'}) }}
                    {{ form_row(form.steamAccount, {'input_group_prepend' : '<i class="fab fa-steam fa-fw"></i>'}) }}
                    {{ form_row(form.battlenetAccount, {'input_group_prepend' : '<i class="fab fa-battle-net fa-fw"></i>'}) }}
                    {{ form_row(form.website, {'input_group_prepend' : '<i class="fas fa-globe fa-fw"></i>'}) }}
                    {{ form_row(form.hardware, {'input_group_prepend' : '<i class="fas fa-desktop fa-fw"></i>'}) }}
                    {{ form_row(form.statements, {'input_group_prepend' : '<i class="far fa-comment-dots fa-fw"></i>'}) }}
                </div>
            </div>
        </div>
    </div>

    <div>
        {{ form_row(form.image.imageFile) }}
    </div>
    <hr>
    {{ form_rest(form) }}
    <div class="float-right">
        <a class="btn btn-secondary" href="{{ path('admin_user') }}">Abbrechen</a>
        <button type="submit" id="news_save" class="btn-primary btn">Speichern</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

