{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="far fa-file-alt"></i> User{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table id="UserTable" class="table table-striped admin-data-table">
                    <thead>
                        <tr>
                            <th>Nickname</th>
                            <th data-orderable="false" data-searchable="false">Aktionen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for  user in users.items %}
                            <tr>
                                <td class="w-100">
                                    <a data-toggle="ajaxModal" href="{{ path('admin_user_show', {'uuid' : user.uuid}) }}">
                                        {{ user.nickname }}
                                    </a>
                                </td>
                                <td class="text-nowrap">
                                    <a class="btn btn-outline-dark" href="{{ path('admin_user_edit', {'uuid' : user.uuid}) }}" title="{{ user.nickname }} bearbeiten">
                                        <i class="fas fa-edit"></i> bearbeiten
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}