{% extends 'site/siteBase.html.twig' %}

{% block title %}KLMS - {{ teamsite.title }}{% endblock %}

{% block main %}
    <div class="container mb-5">
        <div class="card">
            <div class="card-body">
                {% for category in teamsite.categories %}
                    <h3>{{ category.title }}</h3>
                    <p>{{ category.description }}</p>
                    {% if category.entries is not empty %}
                        {% for entry in category.entries %}
                            <div>
                                {% set user = entry.userUuid | user %}
                                {% set image = user | user_image %}
                                <h4>{{ user.nickname }}</h4>
                                <p>{{ entry.description }}</p>
                                {% if image %}
                                <img src="{{ image | imagine_filter('user_img') }}" style="width: 100px;"/>
                                {% endif %}
                                <dl>
                                    <dt>Job</dt>
                                    {{ entry.title }}
                                    <dt>Name</dt>
                                    <dd>{{ user.firstname }} {{ user.surname }}</dd>
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <dt>E-Mail</dt>
                                    <dd>{{ user.email }}</dd>
                                    {% endif %}
                                </dl>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-muted">Keine Einträger in dieser Kategorie.</p>
                    {% endif %}
                    <hr>
                {% endfor %}
            </div>
            <div class="card-footer">
                <small> zuletzt geändert: {{ teamsite.lastModified | ago }}</small>
            </div>
        </div>
    </div>
{% endblock %}