{% extends 'site/siteBase.html.twig' %}

{% block title %}Anmeldung{% endblock %}

{% block main %}
    <div class="container">
        <div class="card mb-4 mt-avatar col-md-8 offset-md-2">
            <div class="card-avatar bg-primary rounded-circle">
                <i class="fas fa-sign-in-alt text-white"></i>
            </div>
            <div class="card-body">
                <h1 class=" h3 card-title text-center">Anmeldung</h1>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger"><i class="fas fa-exclamation-circle"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="logon-user-addon"><i class="fas fa-user"></i> </span>
                            </div>
                            <input type="text" class="form-control" id="inputUsername" value="{{ last_username }}" name="username" placeholder="Username" aria-label="Username" aria-describedby="logon-user-addon">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="logon-password-addon"><i class="fas fa-key"></i> </span>
                            </div>
                            <input type="password" class="form-control" id="inputPassword" name="password"  placeholder="Password" aria-label="Password" aria-describedby="logon-password-addon">
                        </div>
                        <small class="form-text text-right"><a href="{# TODO: Link Passwort vergessen einbauen #}" data-toggle="modal" data-target="#modalPassword">Passwort vergessen?</a></small>
                    </div>
                    <div class="form-group form-check custom-control custom-checkbox">
                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html
                        #}
                        <input type="checkbox" class="form-check-input custom-control-input" id="_remember_me">
                        <label class="form-check-label custom-control-label" for="_remember_me">Angemeldet bleiben</label>
                    </div>
                    <button class="btn btn-lg btn-primary" type="submit">
                        Anmelden
                    </button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
