{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-coins"></i> Sponsor {% if id is defined %}bearbeiten{% else %}erstellen{% endif %}{% endblock %}
{% block main %}
    {% set data = form.vars.data %}
    <div class="clearfix mb-4">
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-body">
                        {{ form_row(form.name) }}
                        {{ form_row(form.url) }}
                        {{ form_row(form.category) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-body">
                        {{ form_row(form.logoFile) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-body">
                        {{ form_row(form.text) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                {% include 'admin/components/lastModified.html.twig' with { 'data': data } %}
            </div>
        </div>
        <hr>
        {{ form_rest(form) }}
        <div class="float-right">
            <a class="btn btn-secondary" href="{{ path('admin_sponsor') }}">Abbrechen</a>
            <button type="submit" id="news_save" class="btn-primary btn">Speichern</button>
        </div>
        {{ form_end(form) }}
        <div class="float-left">
            {% if data is not empty %}
                <form data-toggle="confirmModal" method="post" action="{{ path('admin_sponsor_delete', {'id' : data.id}) }}" class="d-inline-block">
                    <input type="hidden" name="_token" value="{{ csrf_token(csrf_token_delete) }}">
                    <button class="btn btn-danger" type="submit" value="delete"><i class="fas fa-trash-alt"></i> Löschen</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}