{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-coins"></i> Sponsor{% endblock %}
{% block main %}
    {% if sponsor.active() %}
    <div class="row mb-4">
        <div class="col-12">
            <a class="btn btn-success" href="{{ path('admin_sponsor_new') }}"><i class="fas fa-plus"></i> Anlegen</a>
            <a class="btn btn-success" href="{{ path('admin_sponsor_categories') }}"><i class=""></i> Kategorien bearbeiten</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table class="table table-striped admin-data-table">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 4em;" class="text-center">#</th>
                        <th scope="col" style="width: auto">Name</th>
                        <th scope="col" style="width: 10em;">Kategorie</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in sponsors %}
                        <tr>
                            <td class="text-center">{{ s.getId() }}</td>
                            <td><a href="{{ path('admin_sponsor_edit', {'id' : s.id}) }}" title="Bearbeiten {{ s.name }}"> {{ s.name }}</a></td>
                            <td><span class="badge badge-secondary">{{ s.category.name }}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row mb-4">
        <div class="col-12">
            <span class="m-1">Sponsoring ist nicht eingeschalten und wird nicht angezeigt.
            <form data-toggle="confirmModal" data-modal-title="Feature aktivieren" data-modal-text="Wollen Sie Sponsoring anzeigen?" method="post" action="{{ path('admin_sponsor_activate') }}" class="d-inline-block">
                <input type="hidden" name="_token" value="{{ csrf_token(csrf_token_activate) }}">
                <button class="btn btn-link" type="submit" value="activate">Jetzt einschalten.</button>
            </form>
        </span>
        </div>
    </div>
    {% endif %}
{% endblock %}
