{% if settings.get('lan.signup.enabled') %}
    <div class="text-light-muted">
        {% set user = app.user.user %}
        {% if user is not empty %}
            Dein Status:
            {% if user is not registered_gamer %}
                <a class="text-light" href="{{ url('lan_signup') }}">Nicht Angemeldet</a>
            {% else %}
                <span>Angemeldet</span>&nbsp;&nbsp;|&nbsp;
                {% if user is paid_gamer %}
                    <span>Bezahlt</span>
                {% else %}
                    {{ 'payment' | slug_link('Nicht Bezahlt', 'text-light') }}
                {% endif %}
                &nbsp;|&nbsp;
                {% if user is seated_gamer %}
                    <a class="text-light" href="{{ url('seatmap') }}">Sitzplatz {{ user | seat }}</a>
                {% else %}
                    {% if user is paid_gamer %}
                        <a class="text-light" href="{{ url('seatmap') }}">Kein Sitzplatz</a>
                    {% else %}
                        <span>Kein Sitzplatz</span>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endif %}
