<div class="dropdown d-inline-block">
    <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-link dropdown-toggle">
        <i class="fas fa-user-circle"></i> {{ app.user.user.nickname }}
    </button>
    <div class="dropdown-menu dropdown-menu-right mt-0 p-0">
        <a class="dropdown-item" href="{{ path('user_profile') }}"><i class="fa-fw fas fa-user"></i> Mein Profil</a>
        <div class="dropdown-divider"></div>

        <h6 class="dropdown-header">Meine Clans</h6>
        {% if app.user.user.clans %}
            {% for clan in app.user.user.clans %}
                <a class="dropdown-item" href="{{ path('clan_show', {'uuid' : clan.clan.uuid}) }}"><i class="fa-fw fas fa-users"></i>  {{ clan.clan.name }}</a>
            {% endfor %}
        {% else %}
            <a class="dropdown-item" href="{{ path('clan_join') }}"><i class="fa-fw fas fa-users"></i> Clan joinen</a>
        {% endif %}

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fa-fw fas fa-sign-out-alt"></i> Abmelden</a>
    </div>
</div>