{% extends 'site/siteBase.html.twig' %}

{% block title %}KLMS - LAN-Anmeldung{% endblock %}

{% block main %}
    <div class="container mb-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Anmeldung zur Veranstaltung</h1>
                <div class="card-text">
                    {% if settings.get('lan.signupinfo') is not empty %}
                            {{ settings.get('lan.signupinfo') | raw }}
                    {% else %}
                        <p>
                            Hier kannst du dich zur Veranstaltung anmelden.<br>
                            Beachte, dass eine Abmeldung danach nur durch Kontaktaufnahme mit dem Team möglich ist.
                        </p>
                    {% endif %}
                    <hr/>
                    {{ form_start(form) }}

                    {% if 'agb' is slug %}
                        <p>Durch das Anmelden zu Veranstaltung stimmst du unseren {{ 'agb' | slug_link }} zu.</p>
                    {% endif %}

                    {{ form_row(form.confirm) }}
                    {# <label for="{{ form.confirm.vars.id }}">Ich stimme den {{  }} zu</label> #}

                    <button class="btn btn-primary" type="submit">Anmelden</button>
                    <a class="btn btn-secondary" href="{{ url('index') }}">Abbrechen</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}