{% extends 'site/siteBase.html.twig' %}

{% block title %}KLMS - News{% endblock %}

{% block header %}
    {% embed 'site/components/header.html.twig' with {'css_prefix': 'startpage'}%}
        {% block headerContent %}
            {{ parent() }}
            <h3>KRRU Lan Management System</h3>
            <p>System zur Organisation von professionellen LAN-Partys</p>
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block main %}
    <div class="container pt-4">
        <div id="news" class="row row-cols-1 row-cols-md-2" data-offset="{{ news | length }}" data-total="{{ news_total_cnt }}">
            {% include 'site/news/_cards.html.twig' %}
        </div>
    </div>

    <div class="text-center mb-4 mt-0">
        <button id="loadMore" class="btn btn-outline-secondary">Mehr News</button>
        <span id="noMore" class="text-muted" style="display: none;">Keine weiteren News</span>
        <div id="spinner" class="spinner-grow" role="status" style="display: none;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('news') }}
{% endblock %}