{% extends 'site/siteBase.html.twig' %}

{% block title %}{{ content.title }}{% endblock %}

{% block main %}
    <div class="container mb-5">
        <img class="w-100"
        {% if content.image.name is null %}
            src="{{ asset('build/images/test_content_pic.jpg') | imagine_filter('news_header') }}"
        {% else %}
            src="{{ vich_uploader_asset(content, 'imageFile') | imagine_filter('news_header') }}"
        {% endif %}
        />
        <h1 class="mb-4">{{ content.title }}</h1>
        <p class="card-text">
            {{ content.content|raw }}
        </p>
    </div>
{% endblock %}