{% extends 'site/siteBase.html.twig' %}

{% block title %}{{ content.title }}{% endblock %}

{% block main %}
    <div class="container mb-5">
        {% if content.image.name is null %}
            <img src="{{ asset('build/images/test_content_pic.jpg') }}" class="card-img-top" alt="Bild des Inhaltes">
        {% else %}
            <img src="{{ vich_uploader_asset(content, 'imageFile') }}" class="card-img-top"  alt="{{ content.title }}" />
        {% endif %}
        <h1 class="mb-4">{{ content.title }}</h1>
        <p class="card-text">
            {{ content.content|raw }}
        </p>
    </div>
{% endblock %}