{#<a href="{{ url('news') }}">#}
{#    <img src="{{ absolute_url(asset("build/images/logo.png")) }}" class="logo" alt="Logo">#}
{#</a>#}

<div class="head-wrap" style="background-image: url({{ absolute_url(asset("build/images/header.jpg")) }})">
    <div class="head-content container">
        <a href="{{ url('news') }}">
            <img class="logo mb-4" src="{{ absolute_url(asset("build/images/logo-white.png")) }}" alt="KLMS Logo">
        </a>
    </div>
</div>