{% extends 'site/siteBase.html.twig' %}

{% block title %}{{ settings.get('site.title') }} - Profil bearbeiten{% endblock %}

{% block main %}
    {% set user = form.vars.data %}
    <div class="container">
        {% embed "site/components/cards/skeletons/cardProfile.html.twig"  with { cardImg: user | user_image, 'cardSymbol': 'fas fas fa-user-circle fa-9x'} %}
            {% block cardBody %}
                <h1 class="h3 card-title mb-4">Profil bearbeiten</h1>
                {{ form_start(form) }}
                <div class="float-right">
                    <a class="btn btn-outline-primary" href="{{ path('user_profile_edit_pw') }}"><i class="fas fa-user-edit"></i> Passwort ändern</a>
                </div>
                <h2 class="h4 pt-3 border-bottom">Persönliche Informationen</h2>
                {{ form_row(form.nickname, {'input_group_prepend' : '<i class="fas fa-headset"></i>'}) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.firstname, {'input_group_prepend' : '<i class="fas fa-signature"></i>'}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.surname, {'input_group_prepend' : '<i class="fas fa-signature"></i>'}) }}
                    </div>
                </div>
                {{ form_row(form.email, {'input_group_prepend' : '<i class="far fa-envelope"></i>'}) }}
                {{ form_row(form.birthdate, {'input_group_prepend' : '<i class="fas fa-birthday-cake"></i>'}) }}
                {{ form_row(form.gender, {'input_group_prepend' : '<i class="fas fa-venus-mars"></i>'}) }}

                {% if user.personalDataConfirmed %}
                    <span class="text-muted">Persönliche Daten wurden verifiziert und können nicht geändert werden.</span>
                {% elseif user.personalDataLocked %}
                    <span class="text-muted">Persönliche Daten können nicht geändert werden.</span>
                {% endif %}

                <h2 class="h4 pt-3 border-bottom">Newsletter</h2>
                {{ form_row(form.infoMails) }}

                <h2 class="h4 pt-3 border-bottom">Adresse</h2>
                {{ form_row(form.street, {'input_group_prepend' : '<i class="fas fa-road"></i>'}) }}
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.postcode, {'input_group_prepend' : '<i class="fas fa-map-marked-alt"></i>'}) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.city, {'input_group_prepend' : '<i class="fas fa-city"></i>'}) }}
                    </div>
                </div>
                {{ form_row(form.country, {'input_group_prepend' : '<i class="fas fa-globe-europe"></i>'}) }}

                <h2 class="h4 pt-3 border-bottom">Allgemeines</h2>
                {{ form_row(form.statements, {'input_group_prepend' : '<i class="far fa-comment-dots"></i>'}) }}
                {{ form_row(form.phone, {'input_group_prepend' : '<i class="fas fa-mobile-alt"></i>'}) }}
                {{ form_row(form.steamAccount, {'input_group_prepend' : '<i class="fab fa-steam"></i>'}) }}
                {{ form_row(form.battlenetAccount, {'input_group_prepend' : '<i class="fab fa-battle-net"></i>'}) }}
                {{ form_row(form.website, {'input_group_prepend' : '<i class="fas fa-globe"></i>'}) }}
                {{ form_row(form.hardware, {'input_group_prepend' : '<i class="fas fa-desktop"></i>'}) }}
                <hr>
                <div class="float-right pb-2 pt-2">
                    <a class="btn btn-secondary" href="{{ path('user_profile') }}">Abbrechen</a>
                    <button type="submit" id="user_save" class="btn-primary btn">Speichern</button>
                </div>
                {{ form_end(form) }}
            {% endblock %}
        {% endembed  %}
    </div>
{% endblock %}