{% extends 'site/siteBase.html.twig' %}

{% block title %}Registrieren{% endblock %}

{% block main %}
    <div class="container">
        <div class="card mb-4 mt-avatar col-md-8 offset-md-2 p-0">
            <div class="card-avatar bg-primary rounded-circle">
                <i class="fas fa-user-plus text-white"></i>
            </div>
            <div class="card-body">
                <h1 class=" h3 card-title text-center">Registrieren</h1>
                {{ form_start(form) }}
                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        <i class="fas fa-exclamation-circle"></i> {{ form_errors(form) }}
                    </div>
                {% endif %}
                {{ form_row(form.email, {'input_group_prepend' : '<i class="far fa-envelope"></i>'}) }}
                {{ form_row(form.nickname, {'input_group_prepend' : '<i class="fas fa-headset"></i>'}) }}
                {{ form_row(form.plainPassword, {'input_group_prepend' : '<i class="fas fa-key"></i>'}) }}
                {{ form_end(form) }}
            </div>
            <div class="card-footer py-4 bg-dark text-light">
                Bereits registriert? <a href="{{ path('app_login') }}">Anmelden</a>
            </div>
        </div>
    </div>

    <!--  OLD -->
    <span id="emailvalidation"></span>
    
    <span id="nicknamevalidation"></span>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('userRegister') }}
{% endblock %}