{% extends 'site/siteBase.html.twig' %}

{% block title %}{{ settings.get('site.title') }} - Profil - {{ user.nickname }}{% endblock %}

{% block main %}
    <div class="container">
        {% embed "site/components/cards/skeletons/cardProfile.html.twig"  with { cardImg: user | user_image,'cardSymbol': 'fas fas fa-user-circle fa-9x'} %}
            {% set profile = is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.user == user %}
            {% set details = is_granted('ROLE_ADMIN') or profile %}
            {% block cardBody %}
                {% if profile %}
                    <div class="float-right py-2">
                        <a class="btn btn-outline-primary" href="{{ path('user_profile_edit') }}"><i class="fas fa-user-edit"></i> Profil bearbeiten</a>
                    </div>
                {% endif %}
                <div class="d-lg-flex align-items-center">
                    <h1 class="card-title mb-0">
                        {{ user.nickname }}
                    </h1>
                    <h2 class="text-muted d-block d-lg-inline mb-0 ml-lg-3">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {{ user.firstname }}
                        {% endif %}
                        {% if details %}
                            {{ user.surname }}
                        {% endif %}
                    </h2>
                    {% if details and user.personalDataConfirmed %}
                        <span class="ml-lg-3 badge badge-pill badge-primary" title="Persönliche Daten wurden überprüft!">
                            <i class="fas fa-check"></i> geprüft
                        </span>
                    {% endif %}
                </div>
                <hr>
                {% if user.statements | trim %}
                    <div class="card-text mb-3">
                        <blockquote class="blockquote">
                            <p class="mb-0">{{ user.statements }}</p>
                        </blockquote>
                        <hr>
                    </div>
                {% endif %}
                <div class="card-text">
                    <h3>Clans</h3>
                    <div class="row">
                        {% if user.clans is not empty %}
                            {% for clan in user.clans %}
                                <div class="col-sm-6 mb-3">
                                    {% include 'site/components/cards/cardClanPreview.html.twig' with {'clan': clan} %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-sm-12">
                                <p class="text-muted">{{ user.nickname }} ist in keinem Clan.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <h3>Details</h3>
                <ul class="list-group list-group-flush">
                    {% if details and (user.street | trim or user.street | trim or user.city | trim or user.country | trim) %}
                        <li class="list-group-item">
                            <div class="d-flex w-100">
                                <div class="mr-3 flex-shrink-1">
                                    <i class="fas fa-map-marked-alt" title="Adresse"></i>
                                </div>
                                <div class="w-100">
                                    <p class="m-0">
                                        {% if user.street | trim %}{{ user.street }} <br>{% endif %}
                                        {% if user.postcode | trim or user.city | trim %}{{ user.postcode }} {{ user.city }}<br>{% endif %}
                                        {{ user.country | country_name('de') }}
                                    </p>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    {% if details and user.gender | trim %}
                        <li class="list-group-item">
                            <i class="fas fa-venus-mars fa-fw mr-3" title="Geschlecht"></i>{% if user.gender == 'm' %} männlich {% elseif user.gender == 'f' %} weiblich {% else %} divers {% endif %}
                        </li>
                    {% endif %}
                    {% if details and user.birthdate is not empty %}
                        <li class="list-group-item">
                            <i class="fas fa-birthday-cake fa-fw mr-3" title="Geburtstag"></i>{{ user.birthdate|date("d. F Y") }}
                        </li>
                    {% endif %}
                    {% if details and user.phone | trim %}
                        <li class="list-group-item">
                            <i class="fas fa-mobile-alt fa-fw mr-3" title="Telefonnummer"></i><a href="tel:{{ user.phone }}">{{ user.phone }}</a>
                        </li>
                    {% endif %}
                    {% if user.steamaccount | trim %}
                        <li class="list-group-item">
                            <i class="fab fa-steam fa-fw mr-3" title="Steam Account"></i>{{ user.steamaccount }}
                        </li>
                    {% endif %}
                    {% if user.battlenetaccount | trim %}
                        <li class="list-group-item">
                            <i class="fab fa-battle-net fa-fw mr-3" title="Battle.net Account"></i>{{ user.battlenetaccount }}
                        </li>
                    {% endif %}
                    {% if user.website | trim %}
                        <li class="list-group-item">
                            <i class="fas fa-globe fa-fw mr-3" title="Webseite"></i><a href="{{ user.website }}" target="_blank">{{ user.website }}</a>
                        </li>
                    {% endif %}
                    {% if user.hardware | trim %}
                        <li class="list-group-item">
                            <i class="fas fa-desktop fa-fw mr-3" title="Hardware"></i>{{ user.hardware }}
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <i class="fas fa-clock fa-fw mr-3" title="dabei seit"></i>{{ user.registeredAt|date("d. F Y") }}
                    </li>
                </ul>
            {% endblock %}
        {% endembed  %}
    </div>
{% endblock %}