{% extends 'site/siteBase.html.twig' %}

{% block title %}Profil - {{ user.nickname }}{% endblock %}

{% block main %}
    <div class="container">
        {% embed "site/components/cards/skeletons/cardProfile.html.twig"  with {'cardSymbole': 'fas fa-user-circle fa-9x'} %}
            {% block cardBody %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="d-flex justify-content-end w-100">
                        <div class="py-1">
                            <span class="badge badge-primary">KLMS ID: #{{ user.id }}</span>
                        </div>
                    </div>
                {% endif %}

                <h1 class="card-title">{{ user.nickname }} &nbsp;
                    <small class="text-muted d-block d-lg-inline">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ user.firstname }}
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ user.surname }}
                        {% endif %}
                    </small></h1>
                <div class="card-text mb-3">
                    <hr>
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ user.statements }}</p>
                    </blockquote>
                    <hr>
                </div>
                <div class="card-text">
                    <h3>Clans</h3>
                    <div class="row">
                        {% for clan in user.clans %}
                            <div class="col-sm-6 mb-3">
                                {% include 'site/components/cards/cardClanPreview.html.twig' with {'clan': clan.clan, 'isClanAdmin' : clan.admin, 'isClanMember' : 1} %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {% if is_granted('ROLE_ADMIN') and (user.street != '' or user.street != '' or user.city != '' or user.country != '') %}
                        <li class="list-group-item">
                            <div class="d-flex w-100">
                                <div class="mr-3 flex-shrink-1">
                                    <i class="fas fa-map-marked-alt" title="Adresse"></i>
                                </div>
                                <div class="w-100">
                                    <p class="m-0">
                                        {% if user.street != '' %}{{ user.street }} <br>{% endif %}
                                        {% if user.postcode != '' or user.city != ''%}{{ user.postcode }} {{ user.city }}<br>{% endif %}
                                        {{ user.country }}
                                    </p>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') and user.phone != '' %}
                        <li class="list-group-item">
                            <i class="fas fa-mobile-alt fa-fw mr-3" title="Telefonnummer"></i><a href="tel:{{ user.phone }}">{{ user.phone }}</a>
                        </li>
                    {% endif %}
                    {% if user.steamaccount != '' %}
                        <li class="list-group-item">
                            <i class="fab fa-steam fa-fw mr-3" title="Steam Account"></i>{{ user.steamaccount }}
                        </li>
                    {% endif %}
                    {% if user.website != '' %}
                        <li class="list-group-item">
                            <i class="fas fa-globe fa-fw mr-3" title="Webseite"></i><a href="{{ user.website }}" target="_blank">{{ user.website }}</a>
                        </li>
                    {% endif %}
                    {% if user.hardware != '' %}
                        <li class="list-group-item">
                            <i class="fas fa-desktop fa-fw mr-3" title="Hardware"></i>{{ user.hardware }}
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') and user.gender != '' %}
                        <li class="list-group-item">
                            <i class="fas fa-venus-mars fa-fw mr-3" title="Geschlecht"></i>{{ user.gender }}
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <i class="fas fa-clock fa-fw mr-3" title="dabei seit"></i>{{ user.registeredAt|date }}
                    </li>
                </ul>
            {% endblock %}
        {% endembed  %}
    </div>
{% endblock %}