{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="far fa-newspaper"></i> News {% if id is defined %}bearbeiten{% else %}erstellen{% endif %}{% endblock %}
{% block main %}
    {{ form_start(form) }}
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    {{ form_row(form.title) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                   {{ form_row(form.content, {'attr': {'class': 'wysiwyg'}}) }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    {{ form_row(form.publishedFrom) }}
                    {{ form_row(form.publishedTo) }}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    {{ form_row(form.imageFile) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    </div>
    <hr>
    {{ form_rest(form) }}
    <div class="float-left">
        {% if id is defined %}
            <a class="btn btn-secondary" href="{{ path('admin_news_delete', {'id' : id}) }}"><i class="fas fa-trash-alt"></i> Löschen</a>
        {% endif %}
    </div>
    <div class="float-right">
        <a class="btn btn-secondary" href="{{ path('admin_news') }}">Abbrechen</a>
        <button type="submit" id="news_save" class="btn-primary btn">Speichern</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
