{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="far fa-newspaper"></i> News{% endblock %}
{% block main %}
    <div class="row mb-4">
        <div class="col-12">
            <a class="btn btn-success" href="{{ path('admin_news_new') }}"><i class="fas fa-plus"></i> Anlegen</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-1">#</th>
                            <th class="col-md-8">Titel</th>
                            <th class="col-md-3">Aktiv</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for newsentry in news %}
                            <tr>
                                <td>{{ newsentry.getId() }}</td>
                                <td><a href="{{ path('admin_news_edit', {'id' : newsentry.id}) }}" title="Bearbeiten {{ newsentry.title }}"> {{ newsentry.title }}</a></td>
                                <td>{% if newsentry.isActive() %}<span>aktiv</span>{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
