{% extends 'base.html.twig' %}

{% block title %}KLMS - News{% endblock %}

{% block body %}
    <h1>News Liste</h1>

    <ul>
        {% for newsentry in news %}
        <li>
            {{ newsentry.title }}: {{ newsentry.content }} :
            <a href="{{ path('admin_news_edit', {'id' : newsentry.id}) }}"> bearbeiten </a>
            <a href="{{ path('admin_news_delete', {'id' : newsentry.id}) }}">loeschen</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ path('admin_news_new') }}">neu</a>
{% endblock %}
