{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="far fa-newspaper"></i> News{% endblock %}
{% block main %}
    <div class="row mb-4">
        <div class="col-12">
            <a class="btn btn-success" href="{{ path('admin_news_new') }}"><i class="fas fa-plus"></i> Anlegen</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 7%" class="text-center">#</th>
                            <th scope="col" style="width: auto">Titel</th>
                            <th scope="col" style="width: 15%" class="text-center">Aktiv ab</th>
                            <th scope="col" style="width: 5%"></th>
                            <th scope="col" style="width: 15%" class="text-center">Aktiv bis</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for newsentry in news %}
                            <tr>
                                <td class="text-center">{{ newsentry.getId() }}</td>
                                <td><a href="{{ path('admin_news_edit', {'id' : newsentry.id}) }}" title="Bearbeiten {{ newsentry.title }}"> {{ newsentry.title }}</a></th>
                                <td class="text-center">{{ newsentry.activeSince() | date("d.m.Y") }}</td>
                                <td class="text-center">{% if newsentry.isActive() %}<i class="fas fa-eye" title="aktiv"></i>{% endif %}</td>
                                <td class="text-center">{{ newsentry.getPublishedTo() is empty ? "" : newsentry.getPublishedTo() | date("d.m.Y") }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
