<div class="modal fade" id="{{ modal_name | default('upload_modal') }}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            {{ label_text | default("Sind Sie sicher?") }}
        </div>
        <div class="modal-footer">
            <a class="btn-secondary btn" data-dismiss="modal">{{ label_no | default('Nein') }}</a>
            <a class="btn-primary btn" href="{{ path_yes }}">{{ label_yes | default('Ja') }}</a>
        </div>
    </div>
</div>