{% macro getTypeLabel(typeName) %}
    {% if typeName == "empty" %}
        Text
    {% elseif typeName == "content" %}
        Content
    {% elseif typeName == "path" %}
        Link
    {% elseif typeName == "teamsite" %}
        Teamsite
    {% else %}
        {{ typeName }}
    {% endif %}
{% endmacro %}

{% macro getTypeImg(typeName) %}
    {% if typeName == "empty" %}
        {% set img = "fas fa-font" %}
    {% elseif typeName == "content" %}
        {% set img = "far fa-file-alt" %}
    {% elseif typeName == "path" %}
        {% set img = "fas fa-link" %}
    {% elseif typeName == "teamsite" %}
        {% set img = "fas fa-sitemap" %}
    {% else %}
        {% set img = "fas fa-leaf" %}
    {% endif %}{{ img }}{% endmacro %}

    <div class="modal fade" id="addNavItemModal" tabindex="-1" role="dialog">
        <div id="addNavItemModal" class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eintrag hinzuf체gen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div id="add-dialog-choose-type" class="add-dialog-row mb-3">
                            <h6>Inhaltstyp w채hlen</h6>
                            <hr>
                            <div class="row row-cols-4">
                                {% for typeName, typeForm in typeForms %}
                                    <div class="col my-3">
                                        <a href="#" class="card choose-type-btn" data-target="#add-dialog-choose-type-{{ typeName }}">
                                            <div class="card-body text-center">
                                                <h3><i class="{{ _self.getTypeImg(typeName) }}"></i></h3> 
                                                    {{ _self.getTypeLabel(typeName) }}
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% for typeName, typeForm in typeForms %}
                            <div id="add-dialog-choose-type-{{ typeName }}" class="add-dialog-row row mb-3">
                                <div class="col-12">
                                    <h6>{{ _self.getTypeLabel(typeName) }} hinzuf체gen</h6>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    {{ form(typeForm, {'attr': {'id': 'nav_add_entry_form_' ~ typeName, 'class': 'nav_add_entry_step', 'data-type': typeName}}) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn-secondary btn" data-dismiss="modal">{{ button_cancel | default('Abbrechen') }}</button>
                    <button type="submit" class="btn-primary btn">{{ button_save | default('Hinzuf체gen') }}</button>
                </div>
            </div>
        </div>
    </div>