<div class="modal fade" id="addNavItemModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(form) }}
            {% if label_head is defined %}
                <div class="modal-header">
                    <h5 class="modal-title">{{ label_head }}</h5>
                </div>
            {% endif %}
            <div class="modal-body">
                {#
                {% for typeName, typeForm in typeForms %}
                    {{ form(typeForm, {'attr': {'id': 'nav_add_entry_form_' ~ typeName}}) }}
                {% endfor %}
                #}
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn-secondary btn" data-toggle="modal">{{ button_cancel | default('Abbrechen') }}</button>
                <button type="submit" class="btn-primary btn">{{ button_save | default('Hinzufügen') }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>