{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-map-signs"></i> Navigation{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('navigation') }}
{% endblock %}

{% block main %}
    {% set root = nav.renderNav(navMenu) %}

    {% macro menu_links(nodes, parentName, level = 0) %}
        {% for node in nodes %}
            {% set name = node['name'] %}
            {% set path = node['path'] %}
            {% set children = node['children'] %}
            <li class='list-group-item' data-level="{{ level }}">
                <a href="" class="nav-item-action" data-action="up">
                    <i class="fas fa-arrow-up"></i>
                </a>
                <a href="" class="nav-item-action" data-action="down">
                    <i class="fas fa-arrow-down"></i>
                </a>
                {% for i in 0..level %}
                    {% if loop.index0 > 1 %}
                        <span class="pl-3">&nbsp;</span>
                    {% endif %}
                {% endfor %}
                {% if level > 0 %}
                    <i class="fas fa-share fa-flip-vertical fa-xs pl-3"></i>
                {% endif %}
                <a href="#" class="nav-item pl-2" data-path="{{ node.path }}" data-parent="{{ parentName }}">{{ node.name }}</a>
            </li>
            {% if children is not empty %}
                {{ _self.menu_links(children, node.name, level + 1) }}
            {% endif %}
        {% endfor %}
    {% endmacro %}

    <div class="row">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    Navigation <span class="text-primary">{{ navMenu.name }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    {% if root is not empty %}
                        <ul id="navTree" class="navigationTree list-group" data-source-input="#form_navigation">
                        </ul>
                        
                        <br>
                        <br>
                        <br><br>
                        
                        <ul id="navTree" class="list-group">
                            {{ _self.menu_links(root.children, root.name) }}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    <hr>
    {{ form_start(form) }}
    <form method="post">
        <div class="float-right">
            {{ form_row(form.navigation) }}
            <a class="btn btn-secondary" href="{{ path('admin_navigation') }}">Abbrechen</a>
            <button type="submit" id="news_save" class="btn-primary btn">Speichern</button>
        </div>
        {{ form_end(form) }}

    {% endblock %}