{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="far fa-file-alt"></i> Content{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <!-- tree style -->
    <style>
        .selected {
            background: #70a6fd;
        }

        .tree {
            list-style-type: none;
        }

        .tree ul {
            list-style-type: none;
        }

        .tree {
            color: #17324f;
        }

        .tree a {
            text-decoration: none;
            color: #17324f;
        }

        .tree a.selected {
            background: #70a6fd;
        }

        .tree .type {
            color: gray;
            float: none;
            font-size: x-small;
        }

        .tree .icons {
            display: flex;
            float: right;
            padding-left: 10px;
            font-size: smaller;
        }

        .tree .icons button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0px;
        }

        .option {
            padding-right: 5px;
            padding-top: 2px;
            padding-bottom: 5px;
            cursor: pointer;
        }

        .option:hover {
            background: #70a6fd;
        }

        .option div.tooltip {
            display: none;
            position: absolute;
            font-size: small;
            color: #fff;
            background: #70a6fd;
            padding: 5px;
        }

        .option:hover div.tooltip {
            display: block;
        }
    </style>

    <!-- form style -->
    <style>
        div.form_section {
            display: block;
            border: 1px solid #ccc !important;
            border-radius: 4px;
            margin: 5px;
            padding: 5px;
            width: 90%;
        }

        div.form_section label {
            display: block;
            font-size: smaller;
        }

        div.form_section input, textarea {
            width: 90%;
            margin: 5px;
            resize: none;
        }

        div.form_section textarea {
            height: 300px;
        }

    </style>
{% endblock %}

{% block main %}
<div>
    {% macro menu_links(nodes, d, id) %}
        {% for n in nodes %}
            <li>
                {% set selected = id == n.getId() %}
                <a href="{{ path('admin_content', {'id' : n.getId() }) }}" {% if selected %} class="selected" {% endif %}>{{ n.getName() }}</a>
                {%  if selected %}
                    <div class="icons" >
                            <span class="option"><b>+</b>
                                <div class="tooltip">
                                    <form method="post" action="{{ path('admin_content', {'id' : n.getId()}) }}">
                                        <input type="hidden" name="action" value="add"/>
                                        <button name="type" value="content">content</button><br/>
                                        <button name="type" value="path">path</button><br/>
                                        <button name="type" value="empty">empty</button>
                                    </form>
                                </div>
                            </span>
                        <form method="post" action="{{ path('admin_content', {'id' : n.getId()}) }}">
                            <button type="submit" name="action" value="up">&#x25b2;</button>
                            <button type="submit" name="action" value="down">&#x25bc;</button>
                        </form>
                    </div>
                {% endif %}
                <div class="type">{{ n.getType() }}</div>

                {% if n.getChildNodes() is not empty %}
                    <ul>
                        {{ _self.menu_links(n.getChildNodes(), d+1, id) }}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    {% endmacro %}

    <ul class="tree">
        {{ _self.menu_links(tree, 1, node ? node.getId() : null) }}
    </ul>
</div>
{% endblock %}