{% embed "modules/modals/skeleton.html.twig"
    with {
    'id': 'showTeamsModal',
    'title' : 'Teams - ' ~ tourney.name,
    'dialogClass' : 'modal-xl'
} %}

    {% from 'site/tourney/show.html.twig' import teamnameA, teamnameB %}
    {% block modalBody %}
        <h5>Ausstehende Spiele</h5>
        <ul class="list-group">
            {% for game in tourney.games %}
                {% if game.pending %}
                <li class="list-group-item">
                    {{ teamnameA(game) }} <span>vs</span> {{ teamnameB(game) }}
                </li>
                {% endif %}
            {% else %}
                <span>Keine vorhanden.</span>
            {% endfor %}
        </ul>
        <h5>Abgeschlossene Spiele</h5>
        <ul class="list-group">
            {% for game in tourney.games %}
                {% if game.done %}
                <li class="list-group-item">
                    <span>
                        {% if game.hasWon(true) %}<b>{% endif %}{{ teamnameA(game) }} {% if game.hasWon(true) %}</b>{% endif %}
                        vs
                        {% if game.hasWon(false) %}<b>{% endif %}{{ teamnameB(game) }} {% if game.hasWon(false) %}</b>{% endif %}
                        ({{ game.scoreA }} : {{ game.scoreB }})
                    </span>
                </li>
                {% endif %}
            {% else %}
                <span>Keine vorhanden.</span>
            {% endfor %}
        </ul>
    {% endblock %}

    {% block modalFooter %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
    {% endblock %}
{% endembed %}
