{% set registered = registered | default(false) %}
{% set current_game = current_game | default(null) %}
{% set expand = expand | default(false) %}

{% macro tree_button(tourney) %}
    {% if tourney.hasTree %}
        <a class="btn btn-primary btn-sm" href="{{ path('tourney_show', {'id': tourney.id }) }}"><i class="fa-solid fa-sitemap"></i> Turnierbaum</a>
    {% endif %}
{% endmacro %}

{% macro game_icon(tourney, game = null, tm = null) %}
    {% set TourneyStatus = enum('\\App\\Entity\\TourneyStatus') %}
    {% if tourney.status == TourneyStatus.Registration %}
        <i title="Angemeldet{% if tm is not null and not tm.accepted %} (Bestätigung ausstehend){% endif %}"
           class="fa-solid fa-table-list fa-2xl
        {% if tm is not null and not tm.accepted %} text-muted {% endif %}
        "></i>
    {% elseif tourney.status == TourneyStatus.Running %}
        <i title="{% if game is null %}Ausgeschieden{% else %}Teilnehmer{% endif %}"
           class="fa-solid fa-gamepad fa-2xl
        {% if tourney.isRunning %}
            {% if game is null %} text-muted {% elseif game.isPending() %} text-primary fa-beat-fade{% endif %}
        {% endif %}"></i>
    {% elseif tourney.status == TourneyStatus.Finished %}
        <i title="Tournier beendet" class="fa-solid fa-trophy fa-2xl"></i>
    {% endif %}
{% endmacro %}

<div class="card mb-3 tourney {% if registered %}registered{% endif %}" id="tourney-{{ tourney.id }}">
    <div class="card-header">
        <h4 class="mb-0">
        <button class="btn btn-block d-flex justify-content-between align-items-center" type="button" data-toggle="collapse" data-target="#collapse-{{ tourney.id }}">
            {{ tourney.name }}
            {% if registered %}{{ _self.game_icon(tourney, current_game, tm) }}{% endif %}
        </button>
        </h4>
    </div>
    <div class="collapse{% if expand %} show{% endif %}" id="collapse-{{ tourney.id }}">
        {% set TourneyStatus = enum('\\App\\Entity\\TourneyStatus') %}
        <div class="card-body">
            {% if tourney.status == TourneyStatus.Created %}
                {% include 'site/tourney/_created.html.twig' %}
            {% elseif tourney.status == TourneyStatus.Registration %}
                {% if participates %}
                    {% if registered %}
                        {% include 'site/tourney/_registered.html.twig' %}
                    {% else %}
                        {% include 'site/tourney/_register.html.twig' %}
                    {% endif %}
                {% endif %}
            {% elseif tourney.status == TourneyStatus.Running %}
                {% include 'site/tourney/_running.html.twig' %}
            {% elseif tourney.status == TourneyStatus.Finished %}
                {% include 'site/tourney/_result.html.twig' with {podium: podium[tourney.id] ?? null} %}
            {% endif %}
            <p><b>Status:</b> {{ tourney.status.message }}</p>
{#            {% if tourney.rules is not empty %}#}
{#                <b>Regeln:</b> #}
{#            {% endif %}#}
            <p><b>Modus:</b> {{ tourney.mode == 'de' ? "double elimination" : "single elemination" }}</p>
            {% if tourney.description is not empty %}
                <p><b>Beschreibung:</b> {{ tourney.description | raw }}</p>
            {% endif %}
        </div>
    </div>
</div>