{% macro tree_button(tourney) %}
    {% if tourney.hasTree %}
        <a class="btn btn-primary btn-sm btn-block" href="{{ path('tourney_show', {'id': tourney.id }) }}"><i class="fa-solid fa-sitemap"></i> Turnierbaum</a>
    {% endif %}
{% endmacro %}

<div class="card-body">
    <div class="container">
        <div class="row">
            {% block blockButtonBar %}
                <div class="col-md-9">

                </div>
                <div class="col-md-3">

                </div>
            {% endblock %}
        </div>
        <div class="row">
            <div class="col-md-9">
                {% block blockButtonBarMain %}
                {% endblock %}
                <div class="row">
                    {% block mainColTop %}
                    {% endblock %}
                    {% block tourneyDesc %}
                        {% if tourney.description is not empty %}
                            <div class="col-12">
                                <b>Beschreibung</b><br>
                                <p>
                                    {{ tourney.description | raw }}
                                </p>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-md-3">
                {% block blockButtonBarRight %}
                    {% if tourney.hasTree %}
                        <div class="text-right mb-3">
                            {{ _self.tree_button(tourney) }}
                        </div>
                    {% endif %}
                {% endblock %}
                {% block blockRight %}
                    <dl>
                        <dt>Status:</dt>
                        <dd>{{ tourney.status.message }}</dd>
                        <dt>Modus:</dt>
                        <dd>
                            {% if tourney.mode.canHaveGames %}{{ tourney.teamsize }}v{{ tourney.teamsize }} {% endif %}
                            {{ tourney.mode.message }}
                        </dd>
                        <dt>Teams:</dt>
                        <dd>
                            {{ tourney.teams.count }} / &infin;
                        </dd>
                        {#            {% if tourney.rules is not empty %}#}
                        {#                <dt>Regeln:</dt> #}
                        {#                <dd>{tourney.rules}</dd> #}
                        {#            {% endif %}#}
                    </dl>
                {% endblock %}
            </div>
        </div>
    </div>
    {% block containerBottom %}
    {% endblock %}
</div>