{% set fur = forms[constant('App\\Controller\\Site\\TourneyController::FORM_NAME_UNREGISTER')] | default(null) %}

{% macro unregister_form(form) %}
    {% if form is not null %}{{ form_start(form, { 'attr': {'class': ''}}) }}<div class="text-right">{{ form_widget(form.submit, { 'attr': {'class': 'btn btn-secondary btn-sm'}}) }}</div>{{ form_end(form) }}{% endif %}
{% endmacro %}

{% macro accept_decline_form(text, form) %}
    {% if form is not null %}
        {{ form_start(form, { 'attr': {'class': 'form-inline'}}) }}
        <span class="p-1 mr-1 text-muted">{{ text }}</span>
        {{ form_widget(form.accept, { 'attr': {'class': 'btn btn-link p-0', 'title': text ~ ' akzeptieren'}, 'label': '✔'}) }}
        {{ form_widget(form.decline, { 'attr': {'class': 'btn btn-link p-0', 'title': text ~ ' ablehnen'}, 'label': '✗'}) }}
        {{ form_end(form) }}
    {% else %}
        <div class="d-flex"><span class="p-1">{{ text }}</span></div>
    {% endif %}
{% endmacro %}

{{ _self.unregister_form(fur) }}
{% set team = tm.team %}
{% if tourney.isSinglePlayer() %}
    <span class="text-muted">Du bist zu diesem Turnier angemeldet.</span>
{% else %}
    <div class="box">
        <div class="box-header">
            Team
        </div>
        <div class="box-body container-fluid">
                {% if not tm.accepted %}
                    <i class="fa-solid fa-hourglass"></i>
                    <span>Warten auf Bestätigung von <b>{{ team.name }}</b>.</span>
                {% else %}
                    <h6><b>{{ team.name }}</b> ({{ team.countUsers }}/{{ tourney.teamsize }})</h6>
                    <ul class="list-unstyled">
                        {% set facs = forms[constant('App\\Controller\\Site\\TourneyController::FORM_NAME_CONFIRM')] | default([]) %}
                        {% for member in team.members %}
                            <li>
                                {{ _self.accept_decline_form(member.gamer | username, facs[member.id] | default(null)) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
        </div>
    </div>
{% endif %}
<hr/>