{% from 'site/tourney/show.html.twig' import teamname %}
{% from 'site/tourney/_card.html.twig' import tree_button %}

{% macro place2style(place) %}
    {% if place == 1 %}
        list-group-item-primary
    {% elseif place == 2 %}
        list-group-item-secondary
    {% endif %}
{% endmacro %}
<div class="text-right">
    {{ tree_button(tourney) }}
</div>
{% if podium | default() is not null %}
    <h5 class="m-2"> Ergebnis</h5>
    <div>
        <ul class="list-group results">
            {% for place in range(1, 3) %}
                {% if podium[place] is defined %}
                    {% for team in podium[place] %}
                        <li class="list-group-item {{ _self.place2style(place) }}">
                            <span class="font-weight-bold mr-2" style="font-size: large;">{{ place }}.</span>
                            <b>{{ teamname(team) }}</b>
                            {% if team.countUsers > 1 %} ({% for m in team.members %}{{ m.gamer | username }}{% if not loop.last %}, {% endif %}{% endfor %}){% endif %}
                            {% if not loop.last %}<br/>{% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <hr/>
{% endif %}
