{% extends 'site/siteBase.html.twig' %}

{% block title %}{{ settings.get('site.title') }} - Turniere{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Turniere</h1>
                <div>{{ settings.get('lan.tourney.text') | raw }}</div>
            </div>
        </div>
        <hr />
        <div>
            {% set teams = teams | default([]) %}
            {% set can_register = can_register | default([]) %}
            {% set is_pending = is_pending | default([]) %}
            {% if token | default(null) is not empty %}
                <div class="mb-3 text-right">
                    Token <span class="badge badge-pill {{ token > 0 ? 'badge-primary' : 'badge-secondary' }} p-2"><i class="fa-solid fa-coins"></i> {{ token }}/{{ constant('App\\Service\\TourneyService::TOKEN_COUNT') }}</span>
                </div>
            {% endif %}
            <div class="accordion mb-3" id="tourney-list">
            {% for team in teams %}
                {% set tourney = team.tourney %}
                {% set pending = tourney in is_pending %}
                {% include 'site/tourney/_card.html.twig' with {'tourney' : tourney, 'team': team, 'registered' : true, 'pending' : pending, 'registerable': false } %}
            {% endfor %}
            {% set is_registered = teams | map(t => t.getTourney()) %}
            {% for tourney in tourneys %}
                {% if tourney not in is_registered %}
                    {% set registerable = tourney in can_register %}
                    {% include 'site/tourney/_card.html.twig' with {'tourney' : tourney, 'registered' : false, 'pending' : false, 'registerable': registerable } %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    <script>
        if (location.hash !== null && location.hash !== "") {
            document.querySelector(location.hash).querySelector('.collapse').classList.add('show');
        }
    </script>
{% endblock %}
