{% extends 'site/siteBase.html.twig' %}

{% block title %}{{ settings.get('site.title') }} - Turniere{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Turniere</h1>
                <div>{{ settings.get('lan.tourney.text') | raw }}</div>
            </div>
        </div>
        <hr />
        <div>
            {% set teams = teams_registered | default([]) %}
            {% set games = games_active | default([]) %}
            {% if token | default(null) is not null %}
                <div class="mb-3 text-right">
                    Token <span class="badge badge-pill {{ token > 0 ? 'badge-primary' : 'badge-secondary' }} p-2"><i class="fa-solid fa-coins"></i> {{ token }}/{{ constant('App\\Service\\TourneyService::TOKEN_COUNT') }}</span>
                </div>
            {% endif %}
            <div class="accordion mb-3" id="tourney-list">
                {% for tourney in tourneys %}
                    {% if tourney.id in teams | keys %}
                        {% include 'site/tourney/_card.html.twig' with {
                            'tourney' : tourney, 'registered' : true, 'expand' : tourney == show ?? null, 'tm': teams[tourney.id], 'current_game' : (games[tourney.id] ?? null), 'forms': forms[tourney.id] ?? []
                        } %}
                    {% endif %}
                {% endfor %}
                {% for tourney in tourneys %}
                    {% if tourney.id not in teams | keys %}
                        {% include 'site/tourney/_card.html.twig' with {
                            'tourney' : tourney, 'registered' : false, 'expand' : tourney == show ?? null, 'forms': forms[tourney.id] ?? []
                        } %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        if (location.hash !== null && location.hash !== "") {
            document.querySelector(location.hash).querySelector('.collapse').classList.add('show');
        }
    </script>
{% endblock %}
