{% extends 'site/siteBase.html.twig' %}

{% block title %}{{ settings.get('site.title') }} - {{ tourney.name }}{% endblock %}

{% macro teamname(team) %}
    {{ team.name | default(team.members[0].gamer | username) }}
{% endmacro %}
{% macro teamnameA(game) %}
    {{ _self.teamname(game.teamA) }}
{% endmacro %}
{% macro teamnameB(game) %}
    {{ _self.teamname(game.teamB) }}
{% endmacro %}

{% block main %}
    {% set team = team | default(null) is null ? false : team %}
    <div class="container mb-5">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h1>{{ tourney.name }}</h1>
                    <p>{{ tourney.description }}</p>
                </div>
                <div class="card-text">
                    <div class="tournament">
                        {% for round in tree %}
                        <div class="round">
                            {% for game in round %}
                                {% if game is not empty %}
                                    <div class="match">
                                        <div class="teams">
                                            <div class="team {{ game.teamA is null ? 'team-empty' : '' }} {{ game.hasWon(true) ? 'winner' : '' }} {{ game.teamA is same as team ? 'team-own' : '' }} ">
                                                {% if game.teamA is not null %}
                                                    <span class="team-name">{{ _self.teamnameA(game) }}</span>
                                                    <span class="team-score">{{ tourney.showPoints ? (game.scoreA() ?? '') : '' }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="team {{ game.teamB is null ? 'team-empty' : '' }} {{ game.hasWon(false) ? 'winner' : '' }} {{ game.teamB is same as team ? 'team-own' : '' }}">
                                                {% if game.teamB is not null %}
                                                    <span class="team-name">{{ _self.teamnameB(game) }}</span>
                                                    <span class="team-score">{{ tourney.showPoints ? (game.scoreB() ?? '') : '' }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="match empty"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tourney') }}
{% endblock %}