<div class="row mb-4">
    <div class="col-12">
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% for message in app.flashes('error') %}
            <div class="flash-error alert alert-danger  alert-dismissible fade show ">
                <!-- TODO mit coffee besprechen, eine ebene höher ziehen -->
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="card">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Titel</th>
                    <th>Empfänger</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                {% for  sending in sendings %}
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>

                            {% if sending.isEditable %}
                                <a href="{{ path('admin_email_edit', {'id' : sending.eMailTemplate.id}) }}"
                                   title="Bearbeiten {{ sending.eMailTemplate.name }} ">{{ sending.eMailTemplate.name }}</a>
                            {% else %}
                                {{ sending.eMailTemplate.name }}
                                <small class="text-muted">nicht editierbar</small>
                            {% endif %}
                            <br>
                            <small class="text-muted"><b>{{ sending.eMailTemplate.subject }}</b></small>
                            <br>
                            <small class="text-muted">{{ sending.eMailTemplate.body | striptags|slice(0, 40) }}</small>

                        </td>
                        <td>
                            {% if sending.recipientGroup is defined %}
                                Gruppe: {{ sending.recipientGroup }} <br>
                                {{ sending.recipientCountGenerated | default(0) }}
                                <small class="text-info"> generiert</small>
                                <br>

                                {{ sending.recipientCount | default(0) }}
                                <small class="text-info"> Empfänger</small>
                                <br>
                                {{ sending.errorCount | default(0) }}
                                <small class="text-info"> Fehler</small>
                                <br>


                            {% else %}
                                <span class="fa fa-exclamation-triangle fa-warning"></span> Noch keine Emfangsliste ausgewählt!
                            {% endif %}
                        </td>

                        <td>

                            Status Info: {{ sending.status | default('') | nl2br }}<br>
                            {% if not sending.isPublished %}
                                <span class="fa fa-lock fa-warning"></span> Sendung noch nicht freigegeben!<br>
                            {% else %}
                                <b>Geplanter Versandstart:</b>
                                {% if sending.IsActiveSending %}
                                    Sendung bereits aktiv
                                {% else %}
                                    {{ sending.startTime | date('d.m.Y - H:i') }}<br>
                                {% endif %}
                            {% endif %}

                        </td>
                        <td>
                            <a class="btn btn-outline-dark"
                               href="{{ path('admin_email_show', {'id' : sending.eMailTemplate.id}) }}"
                               title="Anzeigen">
                                <i class="fas fa-eye"></i></a>

                            <a class="btn btn-outline-dark"
                               href="{{ path('admin_email_send_testmail', {'id' : sending.eMailTemplate.id}) }}"
                               title="Test E-Mail senden">
                                <i class="fas fa-vial"></i></a>

                            <a class="btn btn-outline-dark
                                {% if  not sending.isEditable %} disabled {% endif %}"
                               href="{{ path('admin_email_sending_edit', {'id' : sending.id}) }}"
                               title="Sendung bearbeiten">
                                <i class="fas fa-users-cog"></i></a>

                            <a class="btn btn-outline-dark
                                {% if  not sending.eMailTemplate.isEditable %} disabled {% endif %}"
                               href="{{ path('admin_email_edit', {'id' : sending.id}) }}"
                               title="Sendung bearbeiten">
                                <i class="fas fa-file-word"></i></a>

                            <a class="btn btn-outline-dark
                                {% if not sending.isDeletable %} disabled {% endif %}"
                               href="{{ path('admin_email_sending_delete', {'id' : sending.id}) }}" title="Löschen">
                                <i class="fas fa-trash-alt"></i></a>

                            {% if  sending.isPublishable %}
                                <a class="btn btn-outline-dark"
                                   href="{{ path('admin_email_sending_publish', {'id' : sending.id}) }}"
                                   title="Sendung erstellen">
                                    <i class="fas fa-check"></i> freigeben</a>
                            {% elseif sending.isUnpublishable %}
                                <a class="btn btn-warning"
                                   href="{{ path('admin_email_sending_unpublish', {'id': sending.id}) }}"
                                   title="Sendung freigegeben">
                                    <i class="fas fa-check"></i> Freigabe zurücknehmen</a>
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

