<div class="row mb-4">
    <div class="col-12">
        <a class="btn btn-success" href="{{ path('admin_email_new') }}"><i class="fas fa-plus"></i> Anlegen</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% for message in app.flashes('error') %}
            <div class="flash-error alert alert-danger  alert-dismissible fade show ">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="card">
            <table class="table">
                <thead>
                <tr>
                    <th>Titel</th>
                    <th>Empfänger</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                {% for  template in templates %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_email_edit', {'id' : template.id}) }}"
                                title="Bearbeiten {{ template.name }} ">{{ template.name }}</a>
                            <br>
                            <small class="text-muted"><b>{{ template.subject }}</b></small>
                        </td>
                        <td>
                            {{ template.recipientGroup | groupname }}
                        </td>
                        <td>
                            <a class="btn btn-outline-dark"
                               href="{{ path('admin_email_show', {'id' : template.id}) }}" title="Anzeigen">
                                <i class="fas fa-eye"></i></a>
                            <a class="btn btn-outline-dark"
                               href="{{ path('admin_email_send_testmail', {'id' : template.id}) }}"
                               title="Test E-Mail senden">
                            <i class="fas fa-envelope"></i></a>
                            <a class="btn btn-outline-dark"
                               href="{{ path('admin_email_delete', {'id' : template.id}) }}" title="Löschen">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
