<div class="row">
    <div class="col-12">
        <div class="card">
            <table class="table">
                <thead>
                <tr>
                    <th>Titel</th>
                    <th>Empfänger</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                {% for email in emails %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_email_edit', {'id' : email.id}) }}"
                                title="Bearbeiten {{ email.name }} ">{{ email.name }}</a>
                            <br>
                            <small class="text-muted"><b>{{ email.subject }}</b></small>
                        </td>
                        <td>
                            {{ email.recipientGroup | groupname }}
                        </td>
                        <td>
                            <a class="btn btn-outline-dark"
                               href="{{ path('admin_email_show', {'id' : email.id}) }}" title="Anzeigen">
                                <i class="fas fa-eye"></i></a>
                            <a class="btn btn-outline-dark"
                               href="{{ path('admin_email_send_testmail', {'id' : email.id}) }}"
                               title="Test E-Mail senden">
                            <i class="fas fa-envelope"></i></a>
                            <a class="btn btn-outline-dark"
                               href="{{ path('admin_email_delete', {'id' : email.id}) }}" title="Löschen">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
