{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="far fa-solid fa-trash"></i> Wipe{% endblock %}
{% block main %}
    <div class="clearfix mb-4">
        <p>Welche Bereiche sollen zurückgesetzt werden?<br><small class="text-muted">(Abhänigkeiten werden ebenfalls zurückgesetzt.)</small>
        </p>
        {{ form_start(form) }}
        <div class="ml-3 mb-4">
        {{ form_rest(form) }}
        </div>
        <div class="alert alert-danger">
            <div class="row">
                <div class="p-2 col-auto align-self-start"><i class="fa-solid fa-circle-exclamation fa-2xl"></i></div>
                <div class="p-0 pl-1 col">
                    <p>Die ausgewählten Bereiche werden vollständig gelöscht.<br>
                        Wenn Sie sicher sind, schreiben Sie in ins nächste Feld "weg damit".</p>
                    <input type="text" required pattern="weg damit">
                    <button class="btn btn-danger btn-sm" type="submit">Löschen</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_wipe') }}
{% endblock %}
