{% extends 'admin/adminBase.html.twig' %}

{% block title %}Einzahlungen - KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-ticket"></i> Tickets{% endblock %}
{% block main %}
    <div class="row mb-4">
        <div class="col-12">
            <button class="btn btn-success" data-toggle="modal" data-target="#newModal" id="new">
                <i class="fas fa-plus"></i> Gamer anmelden
            </button>
            <button class="btn btn-success" data-toggle="modal" data-target="#newModal" id="new">
                <i class="fas fa-plus"></i> Ticket anlegen
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table id="GamerTable" class="table table-striped admin-data-table" data-order='[[2, "asc"]]'
                >
                    <thead>
                    <tr>
                        <th>&#8470;</th>
                        <th>Code</th>
                        <th><i class="fas fa-euro-sign"></i></th>
                        <th class="w-25">Nickname</th>
                        <th class="w-25">Name</th>
                        <th class="w-25">Status</th>
                        <th
                                class="text-nowrap w-1"
                                data-orderable="false"
                                data-searchable="false"
                        >
                            Aktionen
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td class="text-nowrap text-monospace text-right">{{ ticket.id }}</td>
                            <td class="text-nowrap text-monospace">{{ ticket.code }}</td>
                            <td>{% if ticket.shopOrderPosition %} <span class="badge badge-secondary" title="Gekauft"><i class="fas fa-euro-sign"></i></span>{% endif %}</td>
                        {% if ticket.redeemed %}
                            {% set user = users[ticket.redeemer.toString()] %}
                            <td data-order="{{ user.nickname }}">
                                {% for clan in user.clans %}
                                    <a class="badge badge-pill badge-primary" href="{{ path('admin_clan_show', {'uuid' : clan.uuid }) }}" data-toggle="ajaxModal">{{clan.clantag }}</a>
                                {% endfor %}
                                <a href="{{ path('admin_user_show', {'uuid' : user.uuid }) }}" data-toggle="ajaxModal">{{ user.nickname }}</a>
                            </td>
                            <td>{{ user.firstname }} {{ user.surname }}</td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                            <td>
                                {% if ticket.isRedeemed() %}
                                    <span class="badge badge-primary">Bezahlt</span>
                                {% endif %}
                                {% if ticket.isPunched() %}
                                    <span class="badge badge-secondary">Checked-In</span>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-sm btn-outline-dark text-nowrap" data-toggle="ajaxModal" href="{{ path('admin_payment_show', {'id' : ticket.id}) }}">
                                    <i class="fas fa-money-check"></i> Status ändern
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'admin/payment/modal.add.html.twig' %}
{% endblock %}