{% extends 'admin/adminBase.html.twig' %}

{% block title %}Einzahlungen - KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-money-bill"></i> Tickets{% endblock %}
{% block main %}
    <div class="row mb-4">
        <div class="col-12">
            <button class="btn btn-success" data-toggle="modal" data-target="#newModal" id="new">
                <i class="fas fa-plus"></i> Gamer anmelden
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table id="GamerTable" class="table table-striped admin-data-table" data-order='[[2, "asc"]]'
{#                       data-remote-target="{{ path('admin_payment') }}.json" data-server-side-processing="false"#}
                >
                    <thead>
                    <tr>
                        <th
                                class="w-25"
{#                                data-data="user.nickname"#}
{#                                data-render-function='{"elemType":"A", "attributes":{"data-toggle":"ajaxModal", "href": {"prepend":"{{ path('admin_user_show', {'uuid' : "--user.uuid--"}) }}"}}}'#}
                        >
                            Nickname
                        </th>
                        <th class="w-25" data-data="user.firstname">Vorname</th>
                        <th class="w-25" data-data="user.surname">Nachname</th>
                        <th class="w-25" data-data="status.paid">Status</th>
                        <th
                                class="text-nowrap w-1"
                                data-orderable="false"
                                data-searchable="false"
{#                                data-default-content='<i class="fas fa-money-check"></i> Status ändern'#}
{#                                data-render-function='{"elemType":"A", "attributes":{"class":"btn btn-outline-dark text-nowrap", "data-toggle":"ajaxModal", "href": {"prepend":"{{ path('admin_payment_show', {'uuid' : "--user.uuid--"}) }}"} , "title":{"data":"user.nickname", "append":" Bezahlstatus ändern"}}}'#}
                        >
                            Aktionen
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {# TODO remove filter and handle non-redeemed ticket #}
                    {% for ticket in tickets | filter(t => t.isRedeemed()) %}
                        {% set user = users[ticket.redeemer.toString()] %}
                        <tr>
                            <td data-order="{{ user.nickname }}">
                                {% for clan in user.clans %}
                                    <a class="badge badge-pill badge-primary" href="{{ path('admin_clan_show', {'uuid' : clan.uuid }) }}" data-toggle="ajaxModal">{{clan.clantag }}</a>
                                {% endfor %}
                                <a href="{{ path('admin_user_show', {'uuid' : user.uuid }) }}" data-toggle="ajaxModal">{{ user.nickname }}</a>
                            </td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.surname }}</td>
                            <td>
                                {% if ticket.isRedeemed() %}
                                    <span class="badge badge-primary">Bezahlt</span>
                                {% endif %}
                                {% if ticket.isPunched() %}
                                    <span class="badge badge-secondary">Checked-In</span>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-outline-dark text-nowrap" data-toggle="ajaxModal" href="{{ path('admin_payment_show', {'uuid' : user.uuid}) }}">
                                    <i class="fas fa-money-check"></i> Status ändern
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'admin/payment/modal.add.html.twig' %}
{% endblock %}