{#
Confirmation Modal

Configuration options:
    - modal_name: id of the modal component
    - label_text: text to ask the user
    - label_head: header of the modal
    - label_yes: 'yes' label (default 'Ja')
    - label_no: 'no' label (default 'Nein')
    - path: href to redirect on yes
#}

{# This modal has a JS library #}

<div class="modal fade" id="{{ modal_name | default('confirm_modal') }}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            {% if label_head is defined %}
            <div class="modal-header">
                <h5 class="modal-title">{{ label_head }}</h5>
            </div>
            {% endif %}
            <div class="modal-body">
                {{ label_text | default("Sind Sie sicher?") }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">{{ label_no | default('Nein') }}</button>
                <a class="btn btn-primary js-confirm" href="{{ path | default('#') }}">{{ label_yes | default('Ja') }}</a>
            </div>
        </div>
    </div>
</div>