{% set id = modal_name | default('form_modal') %}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(form) }}
            {% if label_head is defined %}
                <div class="modal-header">
                    <h5 class="modal-title">{{ label_head }}</h5>
                </div>
            {% endif %}
            <div class="modal-body">
                {{ form_rest(form) }}
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn-secondary btn" data-toggle="modal" data-target="#{{ id }}">{{ button_cancel | default('Abbrechen') }}</button>
                <button type="submit" class="btn-primary btn">{{ button_save | default('Speichern') }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>