<div class="row">
    <div class="col">
        <h1>Addons kaufen</h1>
        <div class="mb-3">
            {% if settings.get('lan.signup.info') is not empty %}
                {{ settings.get('lan.signup.info') | raw }}
            {% else %}
                <p>
                    Erweitere dein Gaming Erlebnis mit diesen tollen Add-ons!
                </p>
            {% endif %}
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3">
    {% for addon in addons %}
        <div class="col mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ addon.name }}</h4>
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title">{{ (addon.price / 100) | format_currency('EUR') }}</h2>
                    <div class="card-text">
                        <p>{{ addon.description }}</p>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Anzahl</span>
                            </div>
                            {{ form_widget(attribute(form, "addon" ~ addon.id)) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
