{% extends 'site/siteBase.html.twig' %}

{% block title %}{{ settings.get('site.title') }} - Tickets & Addons kaufen{% endblock %}

{% block main %}
    {{ form_start(form) }}
    {% set showTicketSale = form.tickets is defined %}
    {% set showAddonSale = addons is not empty %}
    <div class="container">
        {% if showTicketSale %}
            <div id="ticketWrapper">
                {% include 'site/shop/_tickets.html.twig' %}
                <hr />
            </div>
        {% endif %}
        {% if showAddonSale %}
            <div id="addonWrapper" class="{% if showTicketSale %}d-none{% endif %}">
                {% include 'site/shop/_addons.html.twig' %}
            </div>
        {% endif %}
        <div id="submitWrapper">
            {% if 'agb' is slug %}
                <div class="row">
                    <div class="col">
                        <p>Durch das Anmelden zu Veranstaltung stimmst du unseren {{ 'agb' | slug_link }} zu.</p>
                    </div>
                </div>
            {% endif %}
            <div class="row mb-3">
                <div class="col d-flex">
                    <div class="flex-fill"></div>
                    <a class="btn btn-secondary m-1" href="{{ url('index') }}">Abbrechen</a>
                    <button class="btn btn-primary m-1" type="submit"><i class="fas fa-shopping-cart"></i> Anmelden</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('shop') }}
{% endblock %}