{% extends 'site/siteBase.html.twig' %}

{% block title %}{{ settings.get('site.title') }} - Tickets & Addons kaufen{% endblock %}

{% block main %}
    <div class="container mb-4">
        <h2>Bestellübersicht</h2>
        <p>Hier findest du deine Bestellungen für Tickets.</p>

        {% set open_orders = orders | filter(o => o.isOpen) %}
        {% set done_orders = orders | filter(o => o.isPaid) %}
        <div id="order-list">
        {% if open_orders %}
            <h4 class="pt-3">Offene Bestellungen</h4>
            <p>Offene Bestellungen warten auf deine Zahlung und werden nach Geldeingang bearbeitet.</p>
                {% for o in open_orders %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <button class="btn w-100 d-flex" data-toggle="collapse" data-target="#order-{{ o.id }}">
                                    <span>Bestellung <b>#{{ o.id }}</b> vom {{ o.createdAt | date('d.m.y H:i') }}</span>
                                </button>
                            </h5>
                        </div>
                        <div id="order-{{ o.id }}" class="collapse {{ loop.first ? "show" : "" }}" data-parent="#order-list">
                            <div class="card-body">
                                <div>
                                    {% include 'site/shop/_order.html.twig' with { order: o} %}
                                </div>
                                <div>
                                    Bitte bezahle <b>{{ (o.calculateTotal() / 100) | format_currency('EUR') }}</b>
                                    unter Angabe der Bestellnummer <b>#{{ o.id }}</b>
                                    {% if settings.get('lan.signup.payment_details') %}
                                        an:
                                        <div class="border p-2 m-1">
                                            {{ settings.get('lan.signup.payment_details') | raw }}
                                        </div>
                                    {% else %}
                                        .
                                    {% endif %}
                                </div>
                                <div class="d-flex mt-2">
                                    <div class="flex-fill"></div>
                                    <form id="cancel-order-{{ o.id }}" method="post" action="{{ path('shop_orders') }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token(csrf_token_cancel) }}">
                                        <input type="hidden" name="action" value="cancel">
                                        <input type="hidden" name="order-id" value="{{ o.id }}">
                                        <button type="submit" class="btn btn-sm btn-secondary" value="cancel"><i class="fas fa-trash-alt"></i> Bestellung stornieren</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <span class="text-muted">Keine Bestellungen vorhanden.</span>
                {% endfor %}
        {% endif %}
        {% if done_orders %}
            <h4 class="pt-4">Erledigte Bestellungen</h4>
                {% for o in done_orders %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <button class="btn w-100 d-flex" data-toggle="collapse" data-target="#order-{{ o.id }}">
                                    <span>Bestellung <b>#{{ o.id }}</b> vom {{ o.createdAt | date('d.m.y H:i') }}</span>
                                    <div class="flex-fill"></div>
                                    {% if o.isPaid %}
                                        <span class="badge badge-primary">abgeschlossen</span>
                                    {% endif %}
                                    {% if o.isCanceled %}
                                        <span class="badge badge-secondary">storniert</span>
                                    {% endif %}
                                </button>
                            </h5>
                        </div>
                        <div id="order-{{ o.id }}" class="collapse {{ open_orders is empty and loop.first ? "show" : "" }}" data-parent="#order-list">
                            <div class="card-body">
                                {% include 'site/shop/_order.html.twig' with { order: o} %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <span class="text-muted">Keine Bestellungen vorhanden.</span>
                {% endfor %}
        {% endif %}
        </div>
        {% if not orders and not done_orders %}
            <span class="text-muted">Du hast keine Bestellungen.</span>
        {% endif %}
    </div>
{% endblock %}
