{% extends 'site/siteBase.html.twig' %}

{% block title %}{{ settings.get('site.title') }} - Tickets & Addons kaufen{% endblock %}

{% block main %}
    <div class="container mb-4">
        <h2>Bestellübersicht</h2>
        <div id="order-list">
            {% for o in orders %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button class="btn w-100 d-flex" data-toggle="collapse" data-target="#order-{{ o.id }}">
                                <span>Bestellung <b>#{{ o.id }}</b> vom {{ o.createdAt | date('d.m.y H:i') }}</span>
                                <div class="flex-fill"></div>
                                {% if o.isOpen %}
                                    <span class="badge badge-primary">offen</span>
                                {% elseif o.isPaid %}
                                    <span class="badge badge-success">abgeschlossen</span>
                                {% elseif o.isCanceled %}
                                    <span class="badge badge-secondary">storniert</span>
                                {% endif %}
                            </button>
                        </h5>
                    </div>
                    <div id="order-{{ o.id }}" class="collapse {{ o.id == show_id ? "show" : "" }}" data-parent="#order-list">
                        <div class="card-body">
                            {% include 'site/shop/_order.html.twig' with { order: o} %}
                        </div>
                    </div>
                </div>
            {% else %}
                <span class="text-muted">Keine Bestellungen vorhanden.</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}
