{% set id = id | default('form_modal') %}
{% embed "modules/modals/skeleton.html.twig" %}
    {% block modalContentPrepend %}
        {{ form_start(form) }}
    {% endblock %}

    {% block modalBody %}
        {% block modalForm %}
            {{ form_rest(form) }}
        {% endblock %}
    {% endblock %}

    {% block modalFooter %}
        {% block formFooter %}
            <button type="reset" class="btn-secondary btn btn-sm" data-dismiss="modal">{{ button_cancel | default('Abbrechen') }}</button>
            <button type="submit" class="btn-primary btn btn-sm">{{ button_save | default('Speichern') }}</button>
        {% endblock %}
    {% endblock %}

    {% block modalContentAppend %}
        {{ form_end(form) }}
    {% endblock %}
{% endembed %}