{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-home fa-fw"></i> Dashboard{% endblock %}
{% block main %}
    {% if is_granted('ROLE_ADMIN_NEWS') or is_granted('ROLE_ADMIN_CONTENT') %}
        <h5><i class="far fa-file-alt fa-fw"></i> Inhalt</h5>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            {% if is_granted('ROLE_ADMIN_NEWS') %}
                <div class="col mb-4">
                    <a class="card" href="{{ path('admin_news') }}">
                        <div class="card-body text-center">
                            <h3><i class="far fa-newspaper fa-fw"></i></h3>
                            News
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN_CONTENT') %}
                <div class="col mb-4">
                    <a class="card" href="{{ path('admin_content') }}">
                        <div class="card-body text-center">
                            <h3><i class="far fa-file-alt fa-fw"></i></h3>
                            Content 
                        </div>
                    </a>
                </div>
                <div class="col mb-4">
                    <a class="card" href="{{ path('admin_media') }}">
                        <div class="card-body text-center">
                            <h3><i class="far fa-file-image fa-fw"></i></h3>
                            Media 
                        </div>  
                    </a>
                </div>
                <div class="col mb-4">
                    <a class="card" href="{{ path('admin_navigation') }}">
                        <div class="card-body text-center">
                            <h3><i class="fas fa-map-signs fa-fw"></i></h3>
                            Navigation 
                        </div>  
                    </a>
                </div>
                <div class="col mb-4">
                    <a class="card" href="{{ path('admin_teamsite') }}">
                        <div class="card-body text-center">
                            <h3><i class="fas fa-sitemap"></i></h3>
                            Teamsite
                        </div>
                    </a>
                </div>
                <div class="col mb-4">
                    <a class="card" href="{{ path('admin_setting') }}">
                        <div class="card-body text-center">
                            <h3><i class="fas fa-th-large fa-fw"></i></h3>
                            Einstellungen
                        </div>  
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN_USER') %}
        <h5 class="mt-4"><i class="fas fa-user-friends fa-fw"></i> Community</h5>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            <div class="col mb-4">
                <a class="card" href="{{ path('admin_user') }}">
                    <div class="card-body text-center">
                        <h3><i class="fas fa-user fa-fw"></i></h3>
                        User </div>  
                </a>
            </div>
            <div class="col mb-4">
                <a class="card" href="{{ path('admin_clan') }}">
                    <div class="card-body text-center">
                        <h3><i class="fas fa-users fa-fw"></i></h3>
                        Clan </div>  
                </a>
            </div>
        </div>
    {% endif %}
    {% if is_granted('ROLE_ADMIN_PAYMENT') or is_granted('ROLE_ADMIN_CHECKIN') or is_granted('ROLE_ADMIN_SEATMAP') %}
        <h5 class="mt-4"><i class="fas fa-user-friends fa-fw"></i> LAN</h5>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        {% if is_granted('ROLE_ADMIN_PAYMENT') %}
            <div class="col mb-4">
                <a class="card" href="{{ path('admin_payment') }}">
                    <div class="card-body text-center">
                        <h3><i class="fas fa-money-bill fa-fw"></i></h3>
                        Einzahlungen </div>
                </a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_ADMIN_CHECKIN') %}
            <div class="col mb-4">
                <a class="card" href="{{ path('admin_checkin') }}">
                    <div class="card-body text-center">
                        <h3><i class="fas fa-user-check fa-fw"></i></h3>
                        CheckIn </div>
                </a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_ADMIN_SEATMAP') %}
            <div class="col mb-4">
                <a class="card" href="{{ path('admin_seatmap') }}">
                    <div class="card-body text-center">
                        <h3><i class="fas fa-chair fa-fw"></i></h3>
                        Seatmap </div>
                </a>
            </div>
        {% endif %}
        </div>
    {% endif %}
    {% if is_granted('ROLE_ADMIN_MAIL') %}
        <h5 class="mt-4"><i class="fas fa-comments"></i> Kommunikation</h5>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            <div class="col mb-4">
                <a  href="{{ path('admin_email') }}" class="card">
                    <div class="card-body text-center">
                        <h3><i class="fas fa-envelope fa-fw"></i></h3>
                        E-Mail Newsletter
                    </div>
                </a>
            </div>
        </div>
    {% endif %}
    {% if is_granted('ROLE_ADMIN_SUPER') %}
        <h5 class="mt-4"><i class="fas fa-cogs"></i> Einstellungen</h5>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            <div class="col mb-4">
                <a  href="{{ path('admin_permission') }}" class="card">
                    <div class="card-body text-center">
                        <h3><i class="fas fa-key fa-fw"></i></h3>
                        Berechtigungen
                    </div>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
