<nav id="main-nav" class="navbar navbar-expand-lg navbar-dark bg-dark mt-n4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav-content" aria-controls="main-nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-nav-content">
        <ul class="navbar-nav mr-auto">
            {% set root = nav.getNav('main_menu') %}
            {% for node in root['children'] %}
                {% set name = node['name'] %}
                {% set path = node['path'] %}
                {% set children = node['children'] %}
                {% if children is empty %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path | default('#') }}">{{ name }}</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown" }}>
                        <a class="nav-link dropdown-toggle" href="{{ path | default('#') }}" role="button" data-toggle="dropdown">{{ name }}</a>
                        <ul class="dropdown-menu">
                            {% for node in children %}
                                {% set name = node['name'] %}
                                {% set path = node['path'] %}
                                <li class="dropdown-item">
                                    <a href="{{ path | default('#') }}">{{ name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>