{% extends 'base.html.twig' %}

{% block title %}KLMS - Content{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .box {
            float: left;
            padding: 20px;
            background: #eee;
            max-width: 700px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Content Liste</h1>

    <div class="box">
        {% macro menu_links(nodes, d) %}
            {% for node in nodes %}
                <li>
                    <a href="{{ path('admin_content', {'id' : node.getId() }) }}">{{ node.getName() }}</a>
                    {% if node.getChildNodes() is not empty %}
                        <ul>
                            {{ _self.menu_links(node.getChildNodes(), d+1) }}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        {% endmacro %}

        <ul >
            {{ _self.menu_links( nav.getNav(), 1 ) }}
        </ul>
    </div>
    <div class="box" >
        {% if form is not empty %}
            {{ form(form) }}
        {% else %}
            <p>Nichts ausgewählt!</p>
        {% endif %}
    </div>
{% endblock %}
