{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="far fa-file-alt"></i> Content{% endblock %}

{% block main %}
    <div class="row mb-4">
        <div class="col-12">
            <a class="btn btn-success" id="new" href="{{ path('admin_content_new') }}"><i class="fas fa-plus"></i> Anlegen</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table class="table" id="userTable">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 7%" class="text-center">#</th>
                        <th scope="col" style="width: auto">Titel</th>
                        <th scope="col" style="width: 15%">Aktiv</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in content %}
                        <tr>
                            <td class="text-center">{{ c.getId() }}</td>
                            <td>
                                <a href="{{ path('admin_content_edit', {'id' : c.id}) }}">
                                    {{ c.getTitle() }}
                                </a><br><small class="text-muted">{{ c.getDescription() }}</small>
                            </td>
                            <td>
                                {% for nn in nav.getByContent(c) %}
                                    <span class="badge badge-secondary">{{ nn.getName() }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
