{% extends 'base.html.twig' %}

{% block title %}KLMS - Content{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Content Liste</h1>

        <ul>
            {% for contententry in content %}
            <li>
                {{ contententry.title }}: {{ contententry.content }} :
                <a href="{{ path('admin_content_edit', {'id' : contententry.id}) }}"> bearbeiten </a>
                <a href="{{ path('admin_content_delete', {'id' : contententry.id}) }}">delete</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ path('admin_content_new') }}">neu</a>
    </div>
{% endblock %}
