{% extends 'base.html.twig' %}

{% block title %}KLMS - Content{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .box {
            float: left;
            padding: 20px;
            background: #eee;
            max-width: 700px;
            min-width: 300px;
        }

        .selected {
            background: #70a6fd;
        }

        .tree {
            list-style-type: none;
        }

        .tree ul {
            list-style-type: none;
        }

        .tree {
            color: #17324f;
        }

        .tree a {
            text-decoration: none;
            color: #17324f;
        }

        .tree a.selected {
            background: #70a6fd;
        }

        .tree .type {
            color: gray;
            float: none;
            font-size: x-small;
        }

        .tree .icons {
            display: flex;
            float: right;
            padding-left: 10px;
            font-size: smaller;
        }

        .tree .icons button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0px;
        }

        .option {
            padding-right: 5px;
            padding-top: 2px;
            padding-bottom: 5px;
            cursor: pointer;
        }

        .option:hover {
            background: #70a6fd;
        }

        .option div.tooltip {
            display: none;
            position: absolute;
            font-size: small;
            color: #fff;
            background: #70a6fd;
            padding: 5px;
        }

        .option:hover div.tooltip {
            display: block;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Content Liste</h1>

    <div class="box">
        {% macro menu_links(nodes, d, id) %}
            {% for n in nodes %}
                <li>
                    {% set selected = id == n.getId() %}
                    <a href="{{ path('admin_content', {'id' : n.getId() }) }}" {% if selected %} class="selected" {% endif %}>{{ n.getName() }}</a>
                    {%  if selected %}
                        <div class="icons" >
                            <span class="option"><b>+</b>
                                <div class="tooltip">
                                    <form method="post" action="{{ path('admin_content', {'id' : n.getId()}) }}">
                                        <input type="hidden" name="action" value="add"/>
                                        <button name="type" value="content">content</button><br/>
                                        <button name="type" value="path">path</button><br/>
                                        <button name="type" value="empty">empty</button>
                                    </form>
                                </div>
                            </span>
                            <form method="post" action="{{ path('admin_content', {'id' : n.getId()}) }}">
                                <button type="submit" name="action" value="up">&#x25b2;</button>
                                <button type="submit" name="action" value="down">&#x25bc;</button>
                            </form>
                        </div>
                    {% endif %}
                    <div class="type">{{ n.getType() }}</div>

                    {% if n.getChildNodes() is not empty %}
                        <ul>
                            {{ _self.menu_links(n.getChildNodes(), d+1, id) }}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        {% endmacro %}

        <ul class="tree">
            {{ _self.menu_links(tree, 1, node ? node.getId() : null) }}
        </ul>
    </div>
    <div class="box" >
        {% if node is not null %}
            {% if form is not empty %}
                {{ form(form) }}
            {% endif %}
            <form method="post" action="{{ path('admin_content', {'id' : node.getId()}) }}">
                <button  type="submit" name="action" value="delete">Löschen</button>
            </form>
        {% else %}
            <p>Nichts ausgewählt!</p>
        {% endif %}
    </div>
{% endblock %}
