{% extends 'admin/adminBase.html.twig' %}

{% block title %}Sitzplan - KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-chair"></i> Sitzplan{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <a class="btn btn-primary" href="{{ path('admin_seatmap_export') }}" download>Sitzplan exportieren (.csv)</a>
            </div>
            <div class="card">
                <div class="card-title">
                    <div class="container seatmap-legend">
                        <div class="row justify-content-center">
                            <div class="col-md-3 col-lg-2"><span class="seat seat-empty"></span> Frei </div>
                            <div class="col-md-3 col-lg-2"><span class="seat seat-taken"></span> Reserviert</div>
                            <div class="col-md-3 col-lg-2"><span class="seat seat-locked"></span> Gesperrt</div>
                            <div class="col-md-3 col-lg-2"><span class="seat seat-own"></span> Sitzplatz</div>
                        </div>
                    </div>
                    {% if settings.get('lan.seatmap.locked') %}
                        <div class="card-title">
                            Der Sitzplan ist aktuell gesperrt! Er Kann nur von Admins bearbeitet werden.
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <button id="toggleEditmode" type="button" class="btn btn-primary" data-edit-mode="false">Drag & Drop aktivieren</button>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <div class="card">
                    <div class="seatmap" data-position-url="{{ path('admin_seatmap_seat_pos') }}" data-create-url="{{ path('admin_seatmap_seat_create') }}">
                        {% set seatmap_bg = settings.get('lan.seatmap.bg_image') %}
                        {% if seatmap_bg is not empty %}
                            <img class="seatmap-bg" src="{{ seatmap_bg }}" aria-hidden="true">
                        {% endif %}
                        <div class="seatmap-wrapper">
                            {% for seat in seatmap %}
                                {% set ownSeat = app.user is not null and seat.owner is not null and seat.owner.uuid == app.user.user.uuid %}
                                {% set taken = seat.owner is not empty %}
                                {% set locked = seat.type == 'locked' %}
                                {% set information = seat.type == 'information' %}
                                    <a style="top: {{ seat.posY }}px; left: {{ seat.posX }}px;"
                                            {% if ownSeat %}
                                                class="seat seat-own"
                                            {% elseif taken %}
                                                class="seat seat-taken"
                                            {% elseif locked %}
                                                class="seat seat-locked"
                                            {% elseif information %}
                                                class="seat seat-information"
                                            {% else %}
                                                class="seat seat-empty"
                                            {% endif %}
                                       data-chair-position="{{ seat.chairPosition }}" data-toggle="ajaxModal" data-id="{{ seat.id }}"
                                       data-html="true" title="{{ include('site/seatmap/tooltip.html.twig') }}" href="{{ path('admin_seatmap_seat_edit', {'id' : seat.id}) }}">
                                        {% if seat.type == 'information' %}
                                            <i class="fas fa-info-circle"></i>
                                        {% endif %}
                                    </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_seatmap') }}
{% endblock %}