{% extends 'site/siteBase.html.twig' %}

{% block title %}Clan bearbeiten{% endblock %}

{% block main %}
    {{ form(form) }}


    <h1>Users</h1>
    <table>
        <thead>
        <tr>
            <td>User</td>
            <td>Rang</td>
            <td>Aktionen</td>
        </tr>
        </thead>
        <tbody>
        {% for user in clan.users %}
            <tr>
                <td>
                    <a href="{{ path('user_show', {'uuid' : user.user.uuid}) }}">{{ user.user.nickname }}</a>
                </td>
                <td>
                    {% if user.admin %}
                        Admin
                    {% else %}
                        Mitglied
                    {% endif %}
                </td>
                <td>
                    {# TODO: move to AJAX #}
                    <form action="{{ path('clan_member_remove', {'uuid' : clan.uuid}) }}" method="post">
                        <input type="hidden" name="user_uuid" value="{{ user.user.uuid }}" />
                        <input type="submit" value="Kicken" />
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}