{% extends 'site/siteBase.html.twig' %}

{% block title %}{{ settings.get('site.title') }} - {{ clan.name }} - Clanseite{% endblock %}

{% block main %}
    <div class="container">
        {% embed "site/components/cards/skeletons/cardProfile.html.twig"  with {'cardSymbol': 'fas fa-users fa-6x'} %}
            {% block cardBody %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% set user = app.user.user %}
                    {% set admin = user in clan.admins %}
                    {% set member = user in clan.users %}
                    <div class="float-right  py-2">
                        {% if member %}
                            <form data-toggle="confirmModal" data-modal-title="Clan verlassen"
                                  data-modal-text="Wollen Sie diesen Clan wirklich verlassen?" method="post"
                                  action="{{ path('clan_leave', {'uuid' : clan.uuid}) }}" class="d-inline-block">
                                <input type="hidden" name="_token" value="{{ csrf_token(csrf_token_member_leave) }}">
                                <button class="btn btn-outline-primary" type="submit" value="löschen"><i
                                            class="fas fa-user-minus"></i> Clan verlassen
                                </button>
                            </form>
                        {% else %}
                            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#joinModal"
                                    id="join"><i class="fas fa-user-plus"></i> Clan beitreten
                            </button>
                        {% endif %}
                        {% if user in clan.admins %}
                            <a class="btn btn-outline-primary" href="{{ path('clan_edit', {'uuid' : clan.uuid}) }}"><i
                                        class="fas fa-edit"></i> Clan bearbeiten</a>
                        {% endif %}
                    </div>
                {% else %}
                    {% set admin = false %}
                    {% set member = false %}
                {% endif %}
                <h1 class="card-title">
                    <div class="d-block d-lg-inline">
                        <span class="badge badge-pill badge-primary">{{ clan.clantag }}</span>
                    </div>
                    {{ clan.name }}
                </h1>
                <hr>
                {% if clan.description is not empty %}
                    <div class="card-text mb-3">
                        <blockquote class="blockquote">
                            <p class="mb-0">{{ clan.description }}</p>
                        </blockquote>
                    </div>
                    <hr>
                {% endif %}
                {% if clan.website is not empty %}
                    <div class="card-text mb-3">
                        <i class="fas fa-globe fa-fw mr-3" title="Webseite"></i><a href="{{ clan.website }}"
                                                                                   target="_blank">{{ clan.website }}</a>
                    </div>
                    <hr>
                {% endif %}
                <div class="card-text">
                    <h3 class="pt-4">Mitglieder</h3>
                    {% set show_all = settings.get('community.all') or member or is_granted('ROLE_ADMIN_USER') %}
                    {% set members_shown = show_all ? clan.users : clan.users | filter(g => g is registered_gamer) %}
                    {% set count = 0 %}
                    {% if members_shown is not empty %}
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col" data-searchable="false">Status</th>
                            <th scope="col">Nickname</th>
                            {% if admin %}
                                <th scope="col">Aktion</th>
                            {% endif %}
                        </tr>
                        </thead>
                        {% for user in members_shown | sort((a,b) => a.nickname <=> b.nickname) %}
                            {% set userIsAdmin = user in clan.admins %}
                            {% set userOnLan = user is registered_gamer %}
                            {% if userOnLan %}{% set count = count + 1 %}{% endif %}
                            {% set muteUser = not userOnLan and not settings.get('community.all') %}
                            <tr {% if muteUser %}class="text-muted"{% endif %}>
                                <td>
                                    {% if userIsAdmin %}
                                        <i class="fas fa-crown" title="Clan Admin"></i>
                                    {% else %}
                                        <i class="fas fa-user" title="Clan Mitglied"></i>
                                    {% endif %}
                                </td>
                                <td class="w-100">
                                    <a href="{{ path('user_show', {'uuid' : user.uuid}) }}"
                                    {% if muteUser %} class="text-secondary" {% endif %}
                                    >
                                        {{ user.nickname }}
                                    </a>
                                </td>
                                {% if admin %}
                                    <td class="w-1 text-nowrap">
                                        {% if user != app.user.user %}
                                            <form class="d-inline-block" data-toggle="confirmModal"
                                                  data-modal-title="User entfernen"
                                                  data-modal-text="Wollen Sie diesen User wirklich entfernen?"
                                                  method="post"
                                                  action="{{ path('clan_member_edit', {'uuid' : clan.uuid}) }}">
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token(csrf_token_member_edit) }}"/>
                                                <input type="hidden" name="user_uuid" value="{{ user.uuid }}"/>
                                                <input type="hidden" name="action" value="kick"/>
                                                <button type="submit" class="btn btn-outline-dark"
                                                        title="User von Clan entfernen"><i
                                                            class="fas fa-user-minus fa-fw"></i></button>
                                            </form>

                                            {% if userIsAdmin %}
                                                {% set action = "demote" %}
                                                {% set modalTitle = "Adminrechte entfernen" %}
                                                {% set modalText = "Wollen Sie diesen User die Adminrechte entfernen?" %}
                                            {% else %}
                                                {% set action = "promote" %}
                                                {% set modalTitle = "Zu Admin befördern" %}
                                                {% set modalText = "Wollen Sie diesen User Adminrechte geben?" %}
                                            {% endif %}
                                            <form class="d-inline-block" data-toggle="confirmModal"
                                                  data-modal-title="{{ modalTitle }}" data-modal-text="{{ modalText }}"
                                                  method="post"
                                                  action="{{ path('clan_member_edit', {'uuid' : clan.uuid}) }}">
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token(csrf_token_member_edit) }}"/>
                                                <input type="hidden" name="user_uuid" value="{{ user.uuid }}"/>
                                                <input type="hidden" name="action" value="{{ action }}"/>
                                                <button type="submit" title="{{ modalTitle }}"
                                                        class="btn btn-outline-dark">
                                                    {% if userIsAdmin %}
                                                        <i class="fas fa-ban fa-fw"></i>
                                                    {% else %}<i class="fas fa-crown fa-fw"></i>{% endif %}</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                    {% if not settings.get('community.all') %}
                        {% if show_all %}
                            <p class="text-muted">{{ count }} von {{ clan.users | length }} Mitglieder sind zur Veranstaltung angemeldet.</p>
                        {% else %}
                            {% set not_shown = (clan.users | length) - count %}
                            {% if not_shown > 0 %}<p class="text-muted"> {{ not_shown }} Mitglieder von {{ clan.name }} sind bei dieser Veranstaltung nicht angemelden.</p>{% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endblock %}
        {% endembed %}
    </div>
    {% include 'site/clan/modal.join.html.twig' %}
{% endblock %}