{% extends 'site/siteBase.html.twig' %}

{% block title %}{{ clan.name }} - Clanseite{% endblock %}

{% block main %}
    <div class="container">
        {% embed "site/components/cards/skeletons/cardProfile.html.twig"  with {'cardSymbole': 'fas fa-users fa-6x'} %}
            {% block cardBody %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% set user = app.user.user %}
                    <div class="d-flex justify-content-between w-100">
                        <div class="d-flex justify-content-end w-100">
                            <div class="py-1">
                                {% if user in clan.admins %}
                                    <a class="btn btn-outline-primary" href="{{ path('clan_edit', {'uuid' : clan.uuid}) }}"><i class="fas fa-edit"></i> Clan bearbeiten</a>
                                {% elseif user in clan.users %}
                                    <form data-toggle="confirmModal" method="post" action="{{ path('clan_leave', {'uuid' : clan.uuid}) }}" class="d-inline-block">
                                        <input type="hidden" name="_token" value="{{ csrf_token(csrf_token_member_leave) }}">
                                        <button class="btn btn-outline-primary" type="submit" value="löschen"><i class="fas fa-user-minus"></i> Clan verlassen</button>
                                    </form>
                                {% elseif user not in clan.users %}
                                    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#joinModal" id="join"><i class="fas fa-user-plus"></i> Clan beitreten</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <h1 class="card-title">
                    <div class="d-block d-lg-inline">
                        <span class="badge badge-pill badge-primary">{{ clan.clantag }}</span>
                    </div>
                    {{ clan.name }}
                </h1>
                <hr>
                {% if clan.description is not empty %}
                    <div class="card-text mb-3">
                        <blockquote class="blockquote">
                            <p class="mb-0">{{ clan.description }}</p>
                        </blockquote>
                    </div>
                    <hr>
                {% endif %}
                {% if clan.website is not empty %}
                    <div class="card-text mb-3">
                        <i class="fas fa-globe fa-fw mr-3" title="Webseite"></i><a href="{{ clan.website }}" target="_blank">{{ clan.website }}</a>
                    </div>
                    <hr>
                {% endif %}
                <div class="card-text">
                    <h3 class="pt-4">Mitglieder</h3>
                    <table class="table table-striped table-hover datatable">
                        <thead>
                            <tr>
                                <th scope="col" data-searchable="false">Status</th>
                                <th scope="col">Nickname</th>
                            </tr>
                        </thead>
                        {% for user in clan.users %}
                            <tr>
                                {% set isAdmin = user in clan.admins %}
                                <td data-sort="{{ isAdmin }}">
                                    {% if isAdmin %}
                                        <i class="fas fa-crown" title="Clan Admin"></i>
                                    {% else %}
                                        <i class="fas fa-user" title="Clan Mitglied"></i>
                                    {% endif %}
                                </td>
                                <td class="w-100">
                                    <a href="{{ path('user_show', {'uuid' : user.uuid}) }}">
                                        {{ user.nickname }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endblock %}
        {% endembed  %}
    </div>
    {% include 'site/clan/modal.join.html.twig' %}
{% endblock %}