{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-th-large"></i> Textblöcke{% endblock %}
{% block main %}
    {{ form_start(form) }}
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    Textblock <span class="text-primary">{{ key }}</span><br/>
                    <small class="text-muted">{{ desc }}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    {{ form_row(form.text) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    </div>
    <hr>
    <div class="float-right">
        <a class="btn btn-secondary" href="{{ path('admin_textblock') }}">Abbrechen</a>
        <button type="submit" id="textblock_save" class="btn-primary btn">Speichern</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
