{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-th-large"></i> Textblöcke{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table class="table table-striped admin-data-table">
                    <thead>
                    <tr>
                        <th class="col-md-4">Titel</th>
                        <th class="col-md-1">Letzte Änderung</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, desc in keys %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_textblock_edit', {'key' : key}) }}" title="Bearbeiten {{ key }}"> {{ key }}</a><br>
                                <small class="text-muted">{{ desc }}</small>
                            </td>
                            <td>
                                {{ modification[key] is empty ? "" : modification[key]|date("m.d.Y") }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

