{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-key"></i> Berechtigungen{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('permission') }}
{% endblock %}
{% block main %}
    <div class="row mb-4">
        <div class="col-12">
            <button class="btn btn-success" data-toggle="modal" data-target="#editModal" id="new"><i class="fas fa-plus"></i> Neuer Admin</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table class="table" id="userTable">
                    <thead>
                    <tr>
                        <th class="col-md-4">User</th>
                        <th class="col-md-1">Berechtigungen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for id, admin in admins %}
                        {% set user, perm = admin[0], admin[1] %}
                        <tr>
                            <td>
                                <a href="" data-toggle="modal" data-target="#editModal"
                                   data-name="{{ user.getNickname() }}"
                                   data-id="{{ user.getUuid() }}"
                                   data-perm="{{ perm | json_encode }}"
                                >
                                    {{ user.getNickname() }}
                                </a><br>
                                <small class="text-muted">{{ user.getEmail() }}</small>
                            </td>
                            <td>
                                {% for p in perm %}
                                    <span>{{ p }}</span><br/>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                {{ form_start(form) }}
                    <div class="modal-header">
                        <h5 class="modal-title">Berechtigungen bearbeiten</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            {{ form_row(form.user, {'attr': {'class': 'select2-enable', 'data-remote-target': path('api_users')}}) }}
                        </div>
                        <div class="form-group" id="perm">
                            {{ form_row(form.perm) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                        <button type="submit" class="btn btn-primary">Speichern</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
