{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-key"></i> Berechtigungen{% endblock %}

{% block main %}
    <div class="row mb-4">
        <div class="col-12">
            <button class="btn btn-success" data-toggle="modal" data-target="#newModal" id="new"><i class="fas fa-plus"></i> Admin hinzufügen</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table class="table" id="userTable" data-remote-target="{{ path('admin_permission') }}.json">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Berechtigungen</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newModal" data-remote-target="{{ path('admin_permission') }}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                {{ form_start(form_add) }}
                <div class="modal-header">
                    <h5 class="modal-title">Admin hinzufügen</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{ form_row(form_add.user) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form_add.perm) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </div>
                {{ form_end(form_add) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" data-remote-target="{{ path('admin_permission') }}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                {{ form_start(form_edit) }}
                <div class="modal-header">
                    <h5 class="modal-title"><span class="userName">Admin</span> bearbeiten</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{ form_row(form_edit.perm) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </div>
                {{ form_end(form_edit) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('permission') }}
{% endblock %}