{% extends 'admin/adminBase.html.twig' %}

{% block title %}Clans - KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-users"></i> Clan{% endblock %}
{% block main %}
    <div class="row">
        <div class="col mb-4">
            <a role="button" class="btn btn-success" href="{{ path('admin_clan_create') }}"><i class="fas fa-plus"></i> Clan erstellen</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table id="clanTable" class="table table-striped admin-data-table" data-order='[[1, "asc"]]' data-remote-target="{{ path('api_clans') }}">
                    <thead>
                        <tr>
                            <th 
                                class="text-nowrap w-1" 
                                data-data="clantag"
                                >Tag</th>
                            <th class="w-25" 
                                data-data="name" 
                                data-render-function='{"elemType":"A", "attributes":{"data-toggle":"ajaxModal", "href": {"prepend":"{{ path('admin_clan_show', {'uuid' : "--uuid--"}) }}"}}}'
                                >Clan</th>
                            <th  class="text-nowrap w-1" 
                                data-orderable="false" 
                                data-searchable="false" 
                                data-default-content='<i class="fas fa-edit"></i> bearbeiten'
                                data-render-function='{"elemType":"A", "attributes":{"class":"btn btn-outline-dark text-nowrap", "href": {"prepend":"{{ path('admin_clan_edit', {'uuid' : "--uuid--"}) }}"} , "title":{"data":"name", "append":" bearbeiten"}}}'
                                >Aktionen</th>
                            <th  class="text-nowrap w-1" 
                                data-orderable="false" 
                                data-searchable="false" 
                                data-default-content='<i class="fas fa-users"></i> Mitglieder'
                                data-render-function='{"elemType":"A", "attributes":{"class":"btn btn-outline-dark text-nowrap", "href": {"prepend":"{{ path('admin_clan_member', {'uuid' : "--uuid--"}) }}"} , "title":{"prepend":"Mitglieder von ","data":"name", "append":" bearbeiten"}}}'
                                ></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

