{% embed "modules/modals/skeleton.html.twig"
    with {
    'id': 'settingEditModal',
    'title' : 'Setting <span class="text-primary">' ~ key ~ '</span>',
    'dialogClass' : 'modal-lg'
}
%}
{% block modalContentPrepend %}
    {{ form_start(form) }}
{% endblock %}

{% block modalBody %}
    {% if form.text is defined %}
        {{ form_row(form.text) }}
    {% endif %}
    {% if form.file is defined %}
        {{ form_row(form.file) }}
    {% endif %}
{% endblock %}

{% block modalFooter %}
        {{ form_widget(form.delete, {'attr': {'class': 'btn btn-sm btn-danger'}}) }}
        <div class="flex-fill"></div>
        <button type="button" class="btn-secondary btn btn-sm" data-dismiss="modal">{{ button_cancel | default('Abbrechen') }}</button>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-sm btn-primary'}}) }}
{% endblock %}

{% block modalContentAppend %}
    {{ form_end(form) }}
{% endblock %}
{% endembed %}